<a href="https://colab.research.google.com/github/Daniel-de-Jesus/Especialization/blob/main/PandasEssencial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#"TEM QUEM FICA A VER NAVIOS,
#E TEM QUE CHEGA LONGE ANDANDO DE JANGADA"

#Quanto à estrutura, existem dois tipos básicos de dados:
##Dados estruturados
  Geralmente encontrarm-se em tabelas, ocupam pouco espaço, sãomais fáceis de serem manipulados.
##Dados não-estruturados
  Não são fáceis de serem analisados, requer muito espaço, difíceis de serem protegidos.

![figure](https://drive.google.com/file/d/1iKyLFotD8oQCe1Hn3Qr_d4Pi8Mo5wBpB/view?usp=sharing)

Vamos começar com os dados esturturados

#Elementos básicos na análise de dados

---
  Data frame: tabela em que os dados estão estocados.

  Registro ou amostra: linha que contem as informações de uma entrada do data frame.
  
  Atributo: coluna que estoca a característica de cada um das entradas.
  
  Índice: atributo numérico que ordena as entradas, começa do 0.

###Variáveis dependentes e independentes
  Na análise exploratória de dados é necessário se estabelescer quais as relações entre as variáeis. Isto leva à conclusão de quais as possíveis correlações entre as mesmas.

##Tipos de dados
Os dados estruturados podem ser de dois tipos:
Daados numéricos e categóricos, por su vez, estes se dividem em dois, discreto e contínuo e, nominal e ordinal, respectivamente.


![figure](https://drive.google.com/file/d/1BhtV8DfJLD-RqL_Fk1qVVaHnXm7iqq4a/view?usp=sharing)

#Manipulação de dados com o Pandas
  Importar a biblioteca Pandas

In [ ]:
import pandas as pd

  No trecho de código que se segue, estão comandos necessários para se précarregar os dados no google colab. Se utilizar o jupyter notebook, está etapa se torna desnecessária

In [ ]:
from google.colab import files   
uploaded = files.upload()

Saving 2004-2019.tsv to 2004-2019.tsv

  Ainda não entendi o que é essa biblioteca io.

In [ ]:
import io

  Utilizar a ferramenta do pandas para carregar o data frame.
  pd.read_csv('caminho', sep='codigo_separador')
  Para arquivos separados por TAB o comando sep='\t'.
  No jupyter o comando seria simplesmente:

  df=pd.read_csv('caminho\arquivo.csv', sep='\t')

In [ ]:
#Esse dataframe é carregado direto do kaggle---  não funcionou
df01= pd.read_csv('https://drive.google.com/file/d/1UY9bNETati6VTyKDpuysRtCwbObKWoOI/view?usp=sharing', sep='\t')

In [ ]:
#Este dataframe é carregado do arquivo que foi feito o upload anteriormente
df = pd.read_csv(io.BytesIO(uploaded['2004-2019.tsv']), sep='\t')

In [ ]:
df

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

  Daqui em diante, eu vou exercitar os comandos básicos do pandas relacionados à estatística descritiva e só comentar os passos mais importantes.Métodos do data frame:
  .tail()
  .head()
  .info()
  .describe()
  Atributos do dataframe:
  .shape -> retorna um vetor linha com duas entradas[Numerodelinhas, Numerodecolunas]

In [ ]:
df.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [ ]:
df.tail()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     106823 non-null  int64
 1   DATA INICIAL                   106823 non-null  object
 2   DATA FINAL                     106823 non-null  object
 3   REGIÃO                         106823 non-null  object
 4   ESTADO                         106823 non-null  object
 5   PRODUTO                        106823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 7   UNIDADE DE MEDIDA              106823 non-null  object
 8   PREÇO MÉDIO REVENDA            106823 non-null  float64
 9   DESVIO PADRÃO REVENDA          106823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           106823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 12  MARGEM MÉDIA REVENDA           106823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 19  MÊS                            106823 non-null  int64
 20  ANO                            106823 non-null  int64
dtypes: float64(5), int64(4), object(12)
memory usage: 17.1+ MB

In [ ]:
df.shape

(106823, 21)

In [ ]:
print(f'O DataFrame possui {df.shape[0]} linhas ou registros e {df.shape[1]} colunas ou atributos')

O DataFrame possui 106823 linhas ou registros e 21 colunas ou atributos

Podemos ainda criar um DataFrame diretamente de um dicionário passando o dicionário diretamente como um argumento da função.

In [ ]:
df_dict= pd.DataFrame({
    'nome' : ['Inácio', 'Douglas', 'Luiza', 'Bruna', 'Sirley', 'Cláudio', 'Luciano', 'TRC'],
    'relacao': ['filho', 'irmao', 'irmao', 'irmao', 'mae', 'amigo', 'amigo', 'amigo'],
    'profissao': ['NA', 'Bombeiro', 'Bancária', 'Estudante', 'comerciaria', 'professor', 'pesquisador', 'ladrao'],
    'idade': [6, 35, 28, 22, 53, 31, 32, 31 ]

})

In [ ]:
df_dict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nome       8 non-null      object
 1   relacao    8 non-null      object
 2   profissao  8 non-null      object
 3   idade      8 non-null      int64
dtypes: int64(1), object(3)
memory usage: 384.0+ bytes

In [ ]:
df_dict.columns

Index(['nome', 'relacao', 'profissao', 'idade'], dtype='object')

In [ ]:
list(df_dict.columns)

['nome', 'relacao', 'profissao', 'idade']

In [ ]:
list(df.columns)

['Unnamed: 0',
 'DATA INICIAL',
 'DATA FINAL',
 'REGIÃO',
 'ESTADO',
 'PRODUTO',
 'NÚMERO DE POSTOS PESQUISADOS',
 'UNIDADE DE MEDIDA',
 'PREÇO MÉDIO REVENDA',
 'DESVIO PADRÃO REVENDA',
 'PREÇO MÍNIMO REVENDA',
 'PREÇO MÁXIMO REVENDA',
 'MARGEM MÉDIA REVENDA',
 'COEF DE VARIAÇÃO REVENDA',
 'PREÇO MÉDIO DISTRIBUIÇÃO',
 'DESVIO PADRÃO DISTRIBUIÇÃO',
 'PREÇO MÍNIMO DISTRIBUIÇÃO',
 'PREÇO MÁXIMO DISTRIBUIÇÃO',
 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
 'MÊS',
 'ANO']

In [ ]:
# Renomear as colunas
df_dict= df_dict.rename(columns={
    'nome': 'Nome',
    'relacao': 'Relacao',
    'profissao':'Profissao',
    'idade': 'Idade'                             
})

In [ ]:
#podemos fazer isso com o argumento inplace= True
df_dict.rename(columns={
    'Nome': 'Primeiro Nome'
}, inplace= True)
df_dict

  Primeiro Nome Relacao    Profissao  Idade
0        Inácio   filho           NA      6
1       Douglas   irmao     Bombeiro     35
2         Luiza   irmao     Bancária     28
3         Bruna   irmao    Estudante     22
4        Sirley     mae  comerciaria     53
5       Cláudio   amigo    professor     31
6       Luciano   amigo  pesquisador     32
7           TRC   amigo       ladrao     31

#Series
##Vamos selecionar vetores a partir dos elementos do DataFrame que criamos. Existem duas possibilidades, uma serie de uma linha ou de uma coluna.
###Podemos selecionar a coluna chamando-a diretamente do dataframe['coluna'] e a linha 'i' utilizando o método iloc[i]

In [ ]:
Serie_Nome= df_dict['Primeiro Nome']

In [ ]:
Serie_Inacio= df_dict.iloc[0]

In [ ]:
Serie_Profissao= df_dict['Profissao']
Serie_Profissao

0             NA
1       Bombeiro
2       Bancária
3      Estudante
4    comerciaria
5      professor
6    pesquisador
7         ladrao
Name: Profissao, dtype: object

In [ ]:
Serie_Profissao_Copy= df_dict['Profissao'].copy()
Serie_Profissao_Copy

0             NA
1       Bombeiro
2       Bancária
3      Estudante
4    comerciaria
5      professor
6    pesquisador
7         ladrao
Name: Profissao, dtype: object

###Podemos tambem criar uma serie

In [ ]:
pd.Series([0, 0.5, 1.0 , 1.5, 2.0, 2.5, 3.0])

0    0.0
1    0.5
2    1.0
3    1.5
4    2.0
5    2.5
6    3.0
dtype: float64

#OBSERVAÇÃO IMPORTANTE

  Uma Serie assim criada a partir de um dataframe é uma referência aos valores contidos no DataFrame, um ponteiro, e não uma cópia. Assim, se alterarmos o valor na tabela orinal, no DataFrame, o resultado da Serie criada também se altera. Isso é importante para se utilizar em processos em que se pretende fazer cálculos ou estudos de valores em uma tabela dinâmica, mas não em processos que precisam do resultado original. Para se manter o valor original da Serie é necessário criar-se uma cópia da coluna ou linha de interesse. A Serie cópia pode ser utilizada como beckup para os dados.

In [ ]:
#cria uma Serie cópia
Copia_Inacio= df_dict.iloc[0].copy()
Copia_Inacio

Primeiro Nome    Inácio
Relacao           filho
Profissao            NA
Idade                 6
Name: 0, dtype: object

In [ ]:
#Selecionar a profissao do Inácio
df_dict.iloc[0]['Profissao']

'NA'

In [ ]:
df_dict['Profissao'].iloc[0]= 'Estudante'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df_dict['Profissao'].iloc[0]

'Estudante'

In [ ]:
#Ler o df original 
df_dict

  Primeiro Nome Relacao    Profissao  Idade
0        Inácio   filho    Estudante      6
1       Douglas   irmao     Bombeiro     35
2         Luiza   irmao     Bancária     28
3         Bruna   irmao    Estudante     22
4        Sirley     mae  comerciaria     53
5       Cláudio   amigo    professor     31
6       Luciano   amigo  pesquisador     32
7           TRC   amigo       ladrao     31

In [ ]:
#Ler a Serie profissao
Serie_Profissao

0      Estudante
1       Bombeiro
2       Bancária
3      Estudante
4    comerciaria
5      professor
6    pesquisador
7         ladrao
Name: Profissao, dtype: object

In [ ]:
#Ler a Serie Copia Profissao
Serie_Profissao_Copy

0             NA
1       Bombeiro
2       Bancária
3      Estudante
4    comerciaria
5      professor
6    pesquisador
7         ladrao
Name: Profissao, dtype: object

###Acima observamos que a serie cópia não tem o valor alterado quando se altera o DataFrame, porém a serie que não é cópia tem o valor alterado porque a mesma faz referencia ao DataFrame que foi alterado.

In [ ]:
##Para adicionar uma nova coluna de atributos no DataFrame
##podemos simplesmente proceder como se a coluna já existisse
df_dict['Especie']= 'Default'

In [ ]:
df_dict.shape

(8, 5)

In [ ]:
##A partir de uma lista
df_dict['Texto_Informativo']= [((df_dict['Primeiro Nome'].iloc[i]+' '+df_dict['Profissao'].iloc[i]+ ' eh '+df_dict['Relacao'].iloc[i]+ ' de Daniel')) for i in range(df_dict.shape[0])]

In [ ]:
df_dict

,Primeiro Nome,Relacao,Profissao,Idade,Especie,Texto_Informativo
0,Inácio,filho,Estudante,6,Default,Inácio Estudante eh filho de Daniel
1,Douglas,irmao,Bombeiro,35,Default,Douglas Bombeiro eh irmao de Daniel
2,Luiza,irmao,Bancária,28,Default,Luiza Bancária eh irmao de Daniel
3,Bruna,irmao,Estudante,22,Default,Bruna Estudante eh irmao de Daniel
4,Sirley,mae,comerciaria,53,Default,Sirley comerciaria eh mae de Daniel
5,Cláudio,amigo,professor,31,Default,Cláudio professor eh amigo de Daniel
6,Luciano,amigo,pesquisador,32,Default,Luciano pesquisador eh amigo de Daniel
7,TRC,amigo,ladrao,31,Default,TRC ladrao eh amigo de Daniel

#Selecionando elementos por indice e labels
##Função iloc[i, j]
###Essa função seleciona a linha i, pode ser utilizado um 'slice', iloc[:10]

In [ ]:
print(df_dict.iloc[1,0])

Douglas

In [ ]:
print(df_dict.iloc[0])

Primeiro Nome                                     Inácio
Relacao                                            filho
Profissao                                      Estudante
Idade                                                  6
Especie                                          Default
Texto_Informativo    Inácio Estudante eh filho de Daniel
Name: 0, dtype: object

In [ ]:
print(df_dict.iloc[:8])

  Primeiro Nome Relacao    Profissao  Idade  Especie  \
0        Inácio   filho    Estudante      6  Default
1       Douglas   irmao     Bombeiro     35  Default
2         Luiza   irmao     Bancária     28  Default
3         Bruna   irmao    Estudante     22  Default
4        Sirley     mae  comerciaria     53  Default
5       Cláudio   amigo    professor     31  Default
6       Luciano   amigo  pesquisador     32  Default
7           TRC   amigo       ladrao     31  Default

                        Texto_Informativo
0     Inácio Estudante eh filho de Daniel
1     Douglas Bombeiro eh irmao de Daniel
2       Luiza Bancária eh irmao de Daniel
3      Bruna Estudante eh irmao de Daniel
4     Sirley comerciaria eh mae de Daniel
5    Cláudio professor eh amigo de Daniel
6  Luciano pesquisador eh amigo de Daniel
7           TRC ladrao eh amigo de Daniel

In [ ]:
 print(df_dict.iloc[:8, 5])

0       Inácio Estudante eh filho de Daniel
1       Douglas Bombeiro eh irmao de Daniel
2         Luiza Bancária eh irmao de Daniel
3        Bruna Estudante eh irmao de Daniel
4       Sirley comerciaria eh mae de Daniel
5      Cláudio professor eh amigo de Daniel
6    Luciano pesquisador eh amigo de Daniel
7             TRC ladrao eh amigo de Daniel
Name: Texto_Informativo, dtype: object

In [ ]:
print(df.iloc[:10, 1])

0    2004-05-09
1    2004-05-09
2    2004-05-09
3    2004-05-09
4    2004-05-09
5    2004-05-09
6    2004-05-09
7    2004-05-09
8    2004-05-09
9    2004-05-09
Name: DATA INICIAL, dtype: object

In [ ]:
print(df.iloc[:10, 11])

0    1.350
1    1.449
2    1.760
3    1.509
4    1.400
5    2.050
6    1.950
7    2.000
8    1.699
9    1.700
Name: PREÇO MÁXIMO REVENDA, dtype: float64

##Pesquisa baseada em rótulos(labels)

In [ ]:
df_dict.loc[0]# O indice é considerado um rótulo

Primeiro Nome                                     Inácio
Relacao                                            filho
Profissao                                      Estudante
Idade                                                  6
Especie                                          Default
Texto_Informativo    Inácio Estudante eh filho de Daniel
Name: 0, dtype: object

In [ ]:
df_dict.loc[:,['Profissao', 'Primeiro Nome' ]]

     Profissao Primeiro Nome
0    Estudante        Inácio
1     Bombeiro       Douglas
2     Bancária         Luiza
3    Estudante         Bruna
4  comerciaria        Sirley
5    professor       Cláudio
6  pesquisador       Luciano
7       ladrao           TRC

##Retirar colunas de um DataFrame
del DF['Unamede:0']--> não funcionou


del DF['Coluna']

In [ ]:
del df_dict['Texto_Informativo']
del df_dict['Especie']
df_dict

  Primeiro Nome Relacao    Profissao  Idade
0        Inácio   filho    Estudante      6
1       Douglas   irmao     Bombeiro     35
2         Luiza   irmao     Bancária     28
3         Bruna   irmao    Estudante     22
4        Sirley     mae  comerciaria     53
5       Cláudio   amigo    professor     31
6       Luciano   amigo  pesquisador     32
7           TRC   amigo       ladrao     31

Salvando o arquivo em um csv(.to_csv())

df.to_csv('caminho\local', index= False, sep='\;' )

sep default= ','(coma)

index--> cria uma coluna de índices

In [ ]:
df_dict.to_csv('.\gasbrasil',index=False)

##Seleção condicional e filtragem.
###Primeiro é interessante saber quais os valores contidos em uma linha ou coluna, para tal, utilizamos o atributo .unique()

In [ ]:
df['ESTADO'].unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

###Podemos agora selecionar um dos valores possíveis dessa coluna, ou localizar um determinado valor na tabela.
###Para isso, podemos selecionar onde se encontra um determinado valor com uma expressão lógica, resultados booleanos.

In [ ]:
df['ESTADO']== 'SAO PAULO'

0         False
1         False
2         False
3         False
4         False
          ...
106818    False
106819    False
106820    False
106821     True
106822    False
Name: ESTADO, Length: 106823, dtype: bool

###Esta forma de seleção é bastante interessante mas pode-se querer fazer seleções condicionais de forma automática. 
###Vamos utilizar a serie contruida de booleanos e passar como argumento de seleção do nosso DataFrame. Desta forma, os únicos valores selecionados serão aqueles em que a serie contem booleano True, que corresponde à nossa condição.

In [ ]:
#estocar a serie em uma variavel- uma serie de booleanos
booleanos= df['ESTADO']== 'SAO PAULO'
#Vou deletar a coluna de indices Unnamed:0 que o programa cria automaticamente
del df['Unnamed: 0']
#passar a serie como um arguemento de selecao no DataFrame
df[booleanos]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106724,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,3.099,4.220,0.401,0.045,3.047,0.097,2.8599,3.3481,0.032,6,2019
106751,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,3.199,4.320,0.451,0.047,3.123,0.111,2.885,3.491,0.036,6,2019
106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,4.999,0.429,0.044,3.713,0.097,3.52,4.0892,0.026,6,2019
106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,89.900,17.679,0.091,49.214,5.071,40.19,72,0.103,6,2019
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019

###Pode-se também utilizar a função .loc da mesma maneira

In [ ]:
df.loc[booleanos]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106724,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,3.099,4.220,0.401,0.045,3.047,0.097,2.8599,3.3481,0.032,6,2019
106751,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,3.199,4.320,0.451,0.047,3.123,0.111,2.885,3.491,0.036,6,2019
106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,4.999,0.429,0.044,3.713,0.097,3.52,4.0892,0.026,6,2019
106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,89.900,17.679,0.091,49.214,5.071,40.19,72,0.103,6,2019
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019

# Método query
###Pode-se fazer o mesmo processo utilizando-se o método de pergunta .query(), que tem strings como artumentos e dentro da string valores expressões lógicas.
df.query('ESTADO=="SAO PAULO"')
###O método query possui muitos argumentos interessantes para análise de dados como opções de resetar índices, caso se queria reorganizar o novo DataFrame gerado, apagando a referência original, .reset_index(drop= True), or mantendo-a, .reset_index(drop= False),

In [ ]:
#Query
df_query_SP= df.query('ESTADO == "SAO PAULO"')
df_query_SP

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106724,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,3.099,4.220,0.401,0.045,3.047,0.097,2.8599,3.3481,0.032,6,2019
106751,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,3.199,4.320,0.451,0.047,3.123,0.111,2.885,3.491,0.036,6,2019
106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,4.999,0.429,0.044,3.713,0.097,3.52,4.0892,0.026,6,2019
106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,89.900,17.679,0.091,49.214,5.071,40.19,72,0.103,6,2019
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019

In [ ]:
df_query_SP
#Vamos adicionar uma nova coluna de índices
#O DataFrame vai manter a referencia original em uma coluna chamada index
df_query_SP.reset_index()

,index,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,...,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
1,50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,...,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
2,77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,...,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004
3,104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,...,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004
4,131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,...,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258,106724,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,...,4.220,0.401,0.045,3.047,0.097,2.8599,3.3481,0.032,6,2019
4259,106751,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,...,4.320,0.451,0.047,3.123,0.111,2.885,3.491,0.036,6,2019
4260,106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,...,4.999,0.429,0.044,3.713,0.097,3.52,4.0892,0.026,6,2019
4261,106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,...,89.900,17.679,0.091,49.214,5.071,40.19,72,0.103,6,2019
4262,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019

In [ ]:
#Vou criar um DataFrame para a Bahia e dropar o índice
df_query_BA= df.query('ESTADO == "BAHIA"').reset_index(drop=True)
df_query_BA

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,5,2004
1,2004-05-16,2004-05-22,NORDESTE,BAHIA,ETANOL HIDRATADO,424,R$/l,1.390,0.133,0.999,2.050,0.413,0.096,0.977,0.119,0.56,1.35,0.122,5,2004
2,2004-05-23,2004-05-29,NORDESTE,BAHIA,ETANOL HIDRATADO,410,R$/l,1.386,0.131,0.999,1.950,0.435,0.095,0.951,0.122,0.47,1.35,0.128,5,2004
3,2004-05-30,2004-06-05,NORDESTE,BAHIA,ETANOL HIDRATADO,422,R$/l,1.386,0.131,0.999,1.950,0.418,0.095,0.968,0.121,0.5686,1.2606,0.125,5,2004
4,2004-06-06,2004-06-12,NORDESTE,BAHIA,ETANOL HIDRATADO,410,R$/l,1.413,0.113,1.140,1.950,0.462,0.080,0.951,0.137,0.5686,1.285,0.144,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258,2019-06-23,2019-06-29,NORDESTE,BAHIA,ÓLEO DIESEL,216,R$/l,3.587,0.184,3.258,4.650,0.424,0.051,3.163,0.096,3.02,3.4824,0.03,6,2019
4259,2019-06-23,2019-06-29,NORDESTE,BAHIA,ÓLEO DIESEL S10,265,R$/l,3.680,0.188,3.310,4.690,0.443,0.051,3.237,0.11,3.06,3.5269,0.034,6,2019
4260,2019-06-23,2019-06-29,NORDESTE,BAHIA,GASOLINA COMUM,337,R$/l,4.596,0.200,3.979,5.790,0.65,0.044,3.946,0.101,3.7728,4.3341,0.026,6,2019
4261,2019-06-23,2019-06-29,NORDESTE,BAHIA,GLP,200,R$/13Kg,62.539,5.538,50.000,85.000,13.714,0.089,48.825,4.916,41,68,0.101,6,2019
4262,2019-06-23,2019-06-29,NORDESTE,BAHIA,GNV,20,R$/m3,3.120,0.067,2.990,3.194,0.822,0.021,2.298,0.196,2.11,2.7095,0.085,6,2019

# Seleções condicionais e compostas

In [ ]:
#Postos do 'DISTRITO FEDERAL's com combustível acima de 2 reais
df['ESTADO']== 'DISTRITO FEDERAL'

0          True
1         False
2         False
3         False
4         False
          ...
106818    False
106819    False
106820    False
106821    False
106822    False
Name: ESTADO, Length: 106823, dtype: bool

In [ ]:
#Preco medio de revenda maior que 1.5 reaia:)
df['PREÇO MÉDIO REVENDA']<1.5

0          True
1          True
2          True
3          True
4          True
          ...
106818    False
106819    False
106820    False
106821    False
106822    False
Name: PREÇO MÉDIO REVENDA, Length: 106823, dtype: bool

In [ ]:
#Posto do distrito federal com preço médio de revenda menor que 1.5 reais
# A junção das duas condições é feita com o 'e' comercial &
distrito_15= (df['ESTADO']== 'DISTRITO FEDERAL')&(df['PREÇO MÉDIO REVENDA']<1.5)
distrito_15

0          True
1         False
2         False
3         False
4         False
          ...
106818    False
106819    False
106820    False
106821    False
106822    False
Length: 106823, dtype: bool

In [ ]:
#Selecionando no DataFrame os dados que corresponde a pesquisa estocada na variável distrito_15
df[distrito_15]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
27,2004-05-16,2004-05-22,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,144,R$/l,1.271,0.039,1.060,1.300,0.448,0.031,0.823,0.111,0.4094,1.1931,0.135,5,2004
54,2004-05-23,2004-05-29,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,129,R$/l,1.282,0.024,1.170,1.330,0.464,0.019,0.818,0.137,0.3879,1.0336,0.167,5,2004
81,2004-05-30,2004-06-05,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,144,R$/l,1.373,0.051,1.180,1.450,0.479,0.037,0.894,0.147,0.4094,1.4206,0.164,5,2004
108,2004-06-06,2004-06-12,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,129,R$/l,1.373,0.059,1.090,1.470,0.422,0.043,0.951,0.125,0.5169,1.115,0.131,6,2004
135,2004-06-13,2004-06-19,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,144,R$/l,1.355,0.069,1.090,1.410,0.413,0.051,0.942,0.152,0.4094,1.2331,0.161,6,2004
162,2004-06-20,2004-06-26,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,130,R$/l,1.442,0.020,1.360,1.450,0.48,0.014,0.962,0.144,0.4631,1.1114,0.15,6,2004
189,2004-06-27,2004-07-03,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,145,R$/l,1.433,0.037,1.240,1.455,0.503,0.026,0.93,0.149,0.4094,1.345,0.16,6,2004
216,2004-07-04,2004-07-10,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,130,R$/l,1.412,0.087,1.050,1.450,0.468,0.062,0.944,0.121,0.4631,1.1073,0.128,7,2004
243,2004-07-11,2004-07-17,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,144,R$/l,1.293,0.111,0.990,1.450,0.361,0.086,0.932,0.134,0.508,1.4089,0.144,7,2004
270,2004-07-18,2004-07-24,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,130,R$/l,1.216,0.133,0.970,1.480,0.299,0.109,0.917,0.106,0.4631,1.0655,0.116,7,2004
297,2004-07-25,2004-07-31,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,143,R$/l,1.448,0.040,1.146,1.490,0.513,0.028,0.935,0.11,0.508,1.1802,0.118,7,2004
4423,2007-07-15,2007-07-21,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,103,R$/l,1.480,0.071,1.329,1.690,0.261,0.048,1.219,0.052,1.0399,1.3113,0.043,7,2007
4450,2007-07-22,2007-07-28,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,101,R$/l,1.366,0.058,1.180,1.399,0.194,0.042,1.172,0.071,1.0293,1.3607,0.061,7,2007
4477,2007-07-29,2007-08-04,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,101,R$/l,1.456,0.048,1.299,1.499,0.294,0.033,1.162,0.068,1.0243,1.2875,0.059,7,2007
4504,2007-08-05,2007-08-11,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,103,R$/l,1.480,0.025,1.299,1.499,0.317,0.017,1.163,0.059,1.0094,1.3019,0.051,8,2007
4612,2007-09-02,2007-09-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,1.487,0.049,1.390,1.559,0.337,0.033,1.15,0.067,1.0091,1.2707,0.058,9,2007
4639,2007-09-09,2007-09-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,1.480,0.057,1.370,1.599,0.313,0.039,1.167,0.076,0.99,1.3106,0.065,9,2007
4720,2007-09-30,2007-10-06,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,1.494,0.058,1.400,1.559,0.365,0.039,1.129,0.082,0.9794,1.3035,0.073,9,2007
4747,2007-10-07,2007-10-13,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,1.492,0.067,1.320,1.559,0.349,0.045,1.143,0.076,0.9847,1.3035,0.066,10,2007
4774,2007-10-14,2007-10-20,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,79,R$/l,1.422,0.059,1.320,1.553,0.26,0.041,1.162,0.057,1.0095,1.2689,0.049,10,2007
43547,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,125,R$/l,1.447,0.031,1.350,1.490,0.198,0.021,1.249,0.012,1.2153,1.2817,0.01,5,2004
43574,2004-05-16,2004-05-22,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,117,R$/l,1.460,0.022,1.350,1.499,0.205,0.015,1.255,0.026,1.203,1.415,0.021,5,2004
43601,2004-05-23,2004-05-29,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,127,R$/l,1.444,0.034,1.349,1.490,0.193,0.024,1.251,0.012,1.2153,1.2948,0.01,5,2004
43628,2004-05-30,2004-06-05,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,117,R$/l,1.460,0.027,1.310,1.499,0.209,0.018,1.251,0.025,1.198,1.415,0.02,5,2004
43655,2004-06-06,2004-06-12,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,127,R$/l,1.440,0.035,1.349,1.490,0.19,0.024,1.25,0.013,1.2212,1.2948,0.01,6,2004
43682,2004-06-13,2004-06-19,CENTRO OESTE,DISTRITO FEDERAL,ÓLEO DIESEL,116,R$/l,1.459,0.024,1.350,1.499,0.207,0.016,1.252,0.025,1.202,1.415,0.02,6,2004

###No processo acima o numero de comparações torna o procedimento ineficiente, uma vez que é necessário realizar duas etapas de comparação, uma para o preço e outro para o estado e ambas são feitas sobre todos os valores do DataFrame. Uma alternativa mais eficiente é criar um subgrupo ou DataFrame para o estado e dentro deste fazer a segunda seleção. Isto pode ajudar a evitar problemas de desempenho quando o número de linhas é demasiadamente grande.

In [ ]:
selecao_goias= df[df['ESTADO']=='GOIAS']
#Criar a 'máscara' ou vetor booleano de preço maior que a média
goias_selecao=(selecao_goias['PREÇO MÉDIO REVENDA']> selecao_goias['PREÇO MÉDIO REVENDA'].mean())
#Selecionar valores que correspondem à nossa pesquisa
goias_final= selecao_goias[goias_selecao]
goias_final

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
24133,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GLP,372,R$/13Kg,30.335,1.841,27.0,36.0,5.328,0.061,25.007,1.756,19.4983,29,0.07,5,2004
24160,2004-05-16,2004-05-22,CENTRO OESTE,GOIAS,GLP,426,R$/13Kg,30.167,1.713,26.9,36.0,4.759,0.057,25.408,1.663,19.4983,31,0.065,5,2004
24187,2004-05-23,2004-05-29,CENTRO OESTE,GOIAS,GLP,405,R$/13Kg,30.159,1.702,25.9,36.0,4.691,0.056,25.468,1.664,19.4983,29,0.065,5,2004
24214,2004-05-30,2004-06-05,CENTRO OESTE,GOIAS,GLP,461,R$/13Kg,30.106,1.767,27.0,36.0,4.751,0.059,25.355,1.821,19.4983,31,0.072,5,2004
24241,2004-06-06,2004-06-12,CENTRO OESTE,GOIAS,GLP,411,R$/13Kg,30.161,1.811,26.0,36.0,5.016,0.060,25.145,1.554,21.5,29,0.062,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106191,2019-05-26,2019-06-01,CENTRO OESTE,GOIAS,GLP,209,R$/13Kg,72.929,5.482,53.0,85.0,16.157,0.075,56.772,4.368,45.57,61.6,0.077,5,2019
106340,2019-06-02,2019-06-08,CENTRO OESTE,GOIAS,GLP,209,R$/13Kg,71.940,5.315,53.0,85.0,15.176,0.074,56.764,4.435,45.57,61.6,0.078,6,2019
106490,2019-06-09,2019-06-15,CENTRO OESTE,GOIAS,GLP,209,R$/13Kg,72.135,5.348,53.0,85.0,15.37,0.074,56.765,4.486,45.57,61.6,0.079,6,2019
106640,2019-06-16,2019-06-22,CENTRO OESTE,GOIAS,GLP,209,R$/13Kg,72.062,5.393,53.0,85.0,15.134,0.075,56.928,4.22,45.57,61.6,0.074,6,2019
106789,2019-06-23,2019-06-29,CENTRO OESTE,GOIAS,GLP,209,R$/13Kg,71.968,5.381,53.0,85.0,15.044,0.075,56.924,4.285,45.57,61.6,0.075,6,2019

#Construir a seleção de posto de MG e MS, gasolina,  preço maior que 1.75

---
#MÉTODO INEFICIENTE:

#Colocar todas as sentenças
SELECAO_1 = (df['ESTADO']= 'MINAS GERAIS')|(df['ESTADO']= 'MATO GROSSO DO SUL') 
SELECAO_2 = (df['PRODUTO']= GASOLINA COMUM)
SELECAO_3 = (df['PREÇO MÉDIO REVENDA']>1.75)

#juntas em uma só seleção
SELECAO_FINAL= SELECAO_1 & SELECAO_2 & SELECAO_3
df[SELECAO_FINAL]
---
#MÉTODO EFICIENTE:

#FAZER SELEÇÕES EM CADEIA A FIM DE SE REDUZIR A QUANTIDADE DE DADOS TRATADOS AO GRUPO DE INTERESSE
##SELECIONAR OS ESTADOS
posto_MG_MS = df[(df['ESTADO']== 'MINAS GERAIS')|(df['ESTADO']== 'MATO GROSSO DO SUL')]
##dENTRO DO GRUPO ESTADOS, SELECIONAR O GRUPO GASOLINA COMUM
posto_MG_MS_Gasolina= posto_MG_MS[(posto_MG_MS['PRODUTO']== 'GASOLINA COMUM')]
##Dentro do grupo ESTADO, GASOLINA COMUM, filtar o preço >1.754
posto_MG_MS_Gasolina_preco_mairo_17= posto_MG_MS_Gasolina[(posto_MG_MS_Gasolina['PREÇO MÉDIO REVENDA']>1.75)]

---



---

In [ ]:
posto_MG_MS = df[(df['ESTADO']== 'MINAS GERAIS')|(df['ESTADO']== 'MATO GROSSO DO SUL')]
posto_MG_MS_Gasolina= posto_MG_MS[(posto_MG_MS['PRODUTO']== 'GASOLINA COMUM')]
posto_MG_MS_Gasolina_preco_mairo_17= posto_MG_MS_Gasolina[(posto_MG_MS_Gasolina['PREÇO MÉDIO REVENDA']>1.75)]
posto_MG_MS_Gasolina_preco_mairo_17

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,5,2004
12085,2004-05-09,2004-05-15,SUDESTE,MINAS GERAIS,GASOLINA COMUM,1283,R$/l,1.981,0.102,1.750,2.274,0.283,0.051,1.698,0.044,1.495,1.92,0.026,5,2004
12094,2004-05-16,2004-05-22,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,177,R$/l,2.114,0.077,1.960,2.199,0.319,0.036,1.795,0.036,1.707,1.9703,0.02,5,2004
12112,2004-05-16,2004-05-22,SUDESTE,MINAS GERAIS,GASOLINA COMUM,1283,R$/l,1.978,0.101,1.740,2.250,0.285,0.051,1.693,0.061,1.1456,1.963,0.036,5,2004
12121,2004-05-23,2004-05-29,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,167,R$/l,2.114,0.077,1.950,2.210,0.32,0.036,1.794,0.036,1.704,1.9703,0.02,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106467,2019-06-09,2019-06-15,SUDESTE,MINAS GERAIS,GASOLINA COMUM,588,R$/l,4.767,0.152,4.244,5.359,0.416,0.032,4.351,0.097,4.138,4.6119,0.022,6,2019
106616,2019-06-16,2019-06-22,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,85,R$/l,4.301,0.185,4.089,4.897,0.473,0.043,3.828,0.058,3.72,3.995,0.015,6,2019
106617,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GASOLINA COMUM,586,R$/l,4.715,0.149,4.290,5.219,0.427,0.032,4.288,0.091,4.1019,4.5883,0.021,6,2019
106765,2019-06-23,2019-06-29,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,85,R$/l,4.257,0.205,3.999,4.897,0.425,0.048,3.832,0.06,3.735,3.995,0.016,6,2019
106766,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GASOLINA COMUM,587,R$/l,4.708,0.160,4.150,5.219,0.434,0.034,4.274,0.092,4.1,4.5361,0.022,6,2019

#Métodos de seleção e consulta

In [ ]:
posto_MG_MS_Gasolina_preco_mairo_17['ANO']

12067     2004
12085     2004
12094     2004
12112     2004
12121     2004
          ...
106467    2019
106616    2019
106617    2019
106765    2019
106766    2019
Name: ANO, Length: 1570, dtype: int64

In [ ]:
lista_de_anos=[2004, 2010,2012,2017,2018,2015, 2019]

In [ ]:
posto_MG_MS_Gasolina_preco_mairo_17['ANO'].isin(lista_de_anos)

12067     True
12085     True
12094     True
12112     True
12121     True
          ...
106467    True
106616    True
106617    True
106765    True
106766    True
Name: ANO, Length: 1570, dtype: bool

#Iterando sobre Series/DataFrames
iterrows
##==>> NÃO É UM MÉTODO EFICIENTE!!!!

In [ ]:
for index, row in df.head(20).iterrows():
  print(f' indice {index} ==>{row["ESTADO"]} ==>{row["PRODUTO"]}==>{row["PREÇO MÉDIO REVENDA"]}')

 indice 0 ==>DISTRITO FEDERAL ==>ETANOL HIDRATADO==>1.288
 indice 1 ==>GOIAS ==>ETANOL HIDRATADO==>1.162
 indice 2 ==>MATO GROSSO ==>ETANOL HIDRATADO==>1.389
 indice 3 ==>MATO GROSSO DO SUL ==>ETANOL HIDRATADO==>1.262
 indice 4 ==>ALAGOAS ==>ETANOL HIDRATADO==>1.181
 indice 5 ==>BAHIA ==>ETANOL HIDRATADO==>1.383
 indice 6 ==>CEARA ==>ETANOL HIDRATADO==>1.453
 indice 7 ==>MARANHAO ==>ETANOL HIDRATADO==>1.631
 indice 8 ==>PARAIBA ==>ETANOL HIDRATADO==>1.284
 indice 9 ==>PERNAMBUCO ==>ETANOL HIDRATADO==>1.224
 indice 10 ==>PIAUI ==>ETANOL HIDRATADO==>1.5730000000000002
 indice 11 ==>RIO GRANDE DO NORTE ==>ETANOL HIDRATADO==>1.276
 indice 12 ==>SERGIPE ==>ETANOL HIDRATADO==>1.301
 indice 13 ==>ACRE ==>ETANOL HIDRATADO==>1.805
 indice 14 ==>AMAPA ==>ETANOL HIDRATADO==>1.785
 indice 15 ==>AMAZONAS ==>ETANOL HIDRATADO==>1.578
 indice 16 ==>PARA ==>ETANOL HIDRATADO==>1.914
 indice 17 ==>RONDONIA ==>ETANOL HIDRATADO==>1.545
 indice 18 ==>RORAIMA ==>ETANOL HIDRATADO==>1.3
 indice 19 ==>TOCANTINS ==>ETANOL HIDRATADO==>1.226

#Preparação e condicionamento de dados
##Métodos de limpeza

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  object
 1   DATA FINAL                     106823 non-null  object
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           106823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: float64(5), int64(3), object(12)
memory usage: 16.3+ MB

In [ ]:
#Sempre que tratarmos um dataframe vamos criar uma copia do original e trabalhar sobre ela para evitar perda de dados ou desorganizacao
data= df.copy()

In [ ]:
data

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,3.499,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,3.230,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,2.699,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,3.689,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

#Trabalhando com datas

In [ ]:
df_pre= data.copy()
df_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  object
 1   DATA FINAL                     106823 non-null  object
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           106823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: float64(5), int64(3), object(12)
memory usage: 16.3+ MB

In [ ]:
#Vamos criar um DataFrame para nao alterar o original.

#CONVERSAO PARA TIPO DATETIME

#Vamos converter os formatos na tabela que sao tipo object para datatime
#Vamos utilizar a funcao do pandas to_datetime()
df_pre['DATA FINAL'] = pd.to_datetime(df_pre['DATA FINAL'])
df_pre['DATA INICIAL'] = pd.to_datetime(df_pre['DATA INICIAL'])

In [ ]:
df_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  datetime64[ns]
 1   DATA FINAL                     106823 non-null  datetime64[ns]
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           106823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(3), object(10)
memory usage: 16.3+ MB

In [ ]:
#CONVERSAO PARA TIPO NUMERIC

#Vamos utilizar a funcao to_numeric() do pandas 
#Podemos converter todas as colunas de interesse de uma so vez
#Para isto basta que passemos os nomes das colunas em lista para a funcao

#TESTE PARA A LISTA
atributos = ["PREÇO MÁXIMO DISTRIBUIÇÃO","PREÇO MÍNIMO DISTRIBUIÇÃO", "DESVIO PADRÃO DISTRIBUIÇÃO", "PREÇO MÉDIO DISTRIBUIÇÃO", "MARGEM MÉDIA REVENDA"]
for atributo in atributos:
  print(atributo)

PREÇO MÁXIMO DISTRIBUIÇÃO
PREÇO MÍNIMO DISTRIBUIÇÃO
DESVIO PADRÃO DISTRIBUIÇÃO
PREÇO MÉDIO DISTRIBUIÇÃO
MARGEM MÉDIA REVENDA

In [ ]:
#O argumeto 'coerce' sera utilizado para setar os valores nao numericos como NAN

for atributo in atributos:
  df_pre[atributo]= pd.to_numeric(df_pre[atributo], errors= 'coerce')
df_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  datetime64[ns]
 1   DATA FINAL                     106823 non-null  datetime64[ns]
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           103392 non-null  float64
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       103423 non-null  float64
 14  DESVIO PADRÃO DISTRIBUIÇÃO     103423 non-null  float64
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      103423 non-null  float64
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      103423 non-null  float64
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: datetime64[ns](2), float64(10), int64(3), object(5)
memory usage: 16.3+ MB

##As colunas que aprentam menos termos que as colunas da tabela original, isto está relacionado ao fato de algumas informações não terem sido inseridas corretamente na tabela

#LIMPEZA DE DADOS

##VAMOS CRIAR UMA MÁSCARA ONDE O POREÇO DE DISTRIBUIÇÃO É NULO

In [ ]:
mask=  df_pre['PREÇO MÉDIO DISTRIBUIÇÃO'].isnull()
#verificar os resultados nos mostra os valores nao numericos alterados na tabela
df_pre[mask]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,2.090,NaN,0.167,NaN,NaN,NaN,NaN,-,9,2005
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,2.000,NaN,0.000,NaN,NaN,NaN,NaN,-,10,2005
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,2.290,NaN,0.010,NaN,NaN,NaN,NaN,-,10,2005
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,2.200,NaN,0.018,NaN,NaN,NaN,NaN,-,2,2006
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,2.300,NaN,0.030,NaN,NaN,NaN,NaN,-,8,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,3.699,NaN,0.043,NaN,NaN,NaN,NaN,-,6,2019
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,3.890,NaN,0.094,NaN,NaN,NaN,NaN,-,6,2019
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,3.299,NaN,0.002,NaN,NaN,NaN,NaN,-,6,2019
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,3.699,NaN,0.028,NaN,NaN,NaN,NaN,-,6,2019
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,3.290,NaN,0.000,NaN,NaN,NaN,NaN,-,6,2019

In [ ]:
#Vamos investigar os motivos da conversao mal sucedida
# isercao do caractere invalido "-"
df[mask]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,2.090,-,0.167,-,-,-,-,-,9,2005
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,2.000,-,0.000,-,-,-,-,-,10,2005
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,2.290,-,0.010,-,-,-,-,-,10,2005
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,2.200,-,0.018,-,-,-,-,-,2,2006
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,2.300,-,0.030,-,-,-,-,-,8,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,3.699,-,0.043,-,-,-,-,-,6,2019
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,3.890,-,0.094,-,-,-,-,-,6,2019
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,3.299,-,0.002,-,-,-,-,-,6,2019
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,3.699,-,0.028,-,-,-,-,-,6,2019
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,3.290,-,0.000,-,-,-,-,-,6,2019

## USO DA FUNÇÃO .FILLNA

In [ ]:
df_pre_fill = df_pre.fillna(0)
df_pre_fill

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,3.499,3.690,0.818,0.018,2.756,0.000,2.7560,2.75600,0,6,2019
106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,3.230,3.789,0.950,0.038,2.451,0.402,1.9842,2.86610,0.164,6,2019
106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,2.699,3.499,0.914,0.065,1.998,0.000,1.9981,1.99810,0,6,2019
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.50930,0.07,6,2019
106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,3.689,3.699,1.179,0.001,2.518,0.000,2.5175,2.51750,0,6,2019

In [ ]:
df_pre_fill[mask]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,2.090,0.0,0.167,0.0,0.0,0.0,0.0,-,9,2005
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,2.000,0.0,0.000,0.0,0.0,0.0,0.0,-,10,2005
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,2.290,0.0,0.010,0.0,0.0,0.0,0.0,-,10,2005
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,2.200,0.0,0.018,0.0,0.0,0.0,0.0,-,2,2006
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,2.300,0.0,0.030,0.0,0.0,0.0,0.0,-,8,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,3.699,0.0,0.043,0.0,0.0,0.0,0.0,-,6,2019
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,3.890,0.0,0.094,0.0,0.0,0.0,0.0,-,6,2019
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,3.299,0.0,0.002,0.0,0.0,0.0,0.0,-,6,2019
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,3.699,0.0,0.028,0.0,0.0,0.0,0.0,-,6,2019
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,3.290,0.0,0.000,0.0,0.0,0.0,0.0,-,6,2019

In [ ]:
#INSERIR VALOR CONSTANTE COM A FUNÇÃO FILLNA
data_pre_fill=  df_pre.fillna(value= {"PREÇO MÁXIMO DISTRIBUIÇÃO": "vazio",
                                         "PREÇO MÍNIMO DISTRIBUIÇÃO":20,
                                         "DESVIO PADRÃO DISTRIBUIÇÃO":30,
                                         "PREÇO MÉDIO DISTRIBUIÇÃO":40,
                                        "MARGEM MÉDIA REVENDA": 6})

#Outras ferramentas
##estudar a função .fillna(valor)
###substitui os valores nan pelo que estar na variavel valor
##salvar
  df.to_csv('endereço completo da variável', index= False)
##Carregar arquivo
  df=pd.read_csv('endereço completo da variável')

#Aula 21 à 26

In [ ]:
#Nesta parte de filtragem de dados vamos fazer uso do describe
#O mesmmo gera um DataFrame com dados estatísticos sobre/relacionado o DataFrame anterior
#Podemos entao utilizar os metodos do pandas sobre o proprio dataframe geradeo pelo describe()
#tambem e possivel fazer a filtragem da forma inversa, primeiro selecionar a coluna e obter o describe()
#df_dict['idade'].describe() esse processo e o mais indicado
#df_dict.describe()
data_pre_fill.describe()['PREÇO MÉDIO REVENDA']

count    106823.000000
mean         10.870780
std          17.752533
min           0.766000
25%           2.072000
50%           2.718000
75%           3.752000
max          99.357000
Name: PREÇO MÉDIO REVENDA, dtype: float64

In [ ]:
#esse processo e o mais indicado
data_pre_fill['PREÇO MÉDIO REVENDA'].describe()

count    106823.000000
mean         10.870780
std          17.752533
min           0.766000
25%           2.072000
50%           2.718000
75%           3.752000
max          99.357000
Name: PREÇO MÉDIO REVENDA, dtype: float64

In [ ]:
stats= data_pre_fill.describe()
stats

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,MÊS,ANO
count,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000
mean,233.770976,10.870780,0.657227,9.416038,12.537731,2.346393,0.045418,9.558714,1.496450,7.814244,6.484006,2011.802271
std,403.282519,17.752533,1.349169,15.092193,20.841497,4.355404,0.025066,14.478365,5.314099,11.703859,3.443391,4.391530
min,1.000000,0.766000,0.000000,0.590000,0.999000,0.001000,0.000000,0.506000,0.000000,0.325700,1.000000,2004.000000
25%,42.000000,2.072000,0.072000,1.900000,2.310000,0.286000,0.029000,1.811000,0.048000,1.690000,4.000000,2008.000000
50%,104.000000,2.718000,0.114000,2.510000,2.999000,0.390000,0.041000,2.373000,0.079000,2.250000,6.000000,2012.000000
75%,243.000000,3.752000,0.191000,3.499000,4.150000,0.633000,0.058000,3.514000,0.173000,3.350000,9.000000,2016.000000
max,4167.000000,99.357000,10.748000,90.000000,120.000000,36.847000,0.395000,83.137000,30.000000,83.000000,12.000000,2019.000000

In [ ]:
#busca na tabela de estatistica utilizando os rotulos na funcao .loc[[lista de linhas], [lista de colunas]]
stats.loc[['mean', 'std', 'count'],['PREÇO MÉDIO REVENDA','PREÇO MÍNIMO REVENDA' ]]

       PREÇO MÉDIO REVENDA  PREÇO MÍNIMO REVENDA
mean             10.870780              9.416038
std              17.752533             15.092193
count        106823.000000         106823.000000

In [ ]:
#As estatisticas mostradas pela funcao describe() podem ser obtidas separadamente

media_revenda= data_pre_fill['PREÇO MÉDIO REVENDA'].mean()
desvio= media_revenda= data_pre_fill['PREÇO MÉDIO REVENDA'].std()
print(f'O preço médio de revenda é {media_revenda} + ou - {desvio}')

O preço médio de revenda é 17.75253270645962 + ou - 17.75253270645962

In [ ]:
#PODEMOS ESCOLHER O NUMERO DE CASAS DECIMAIS QUE QUEREMOS PASSAR NA STRING FORMATADA
#.x significa dois numeros apos a virgula
print(f'O preço médio de revenda é {media_revenda: .2f} + ou - {desvio: .2f}')

O preço médio de revenda é  17.75 + ou -  17.75

In [ ]:
# a funcoa sorte(list) organiza a lista em forma alfabetica
# se a lista for numerica?
nome= sorted(df_dict['Primeiro Nome'])
relacao= sorted(df_dict['Relacao'])
for i in range(len(nome)):
  print(f'{nome[i]} e {relacao[i]} de Daniel')

Bruna e amigo de Daniel
Cláudio e amigo de Daniel
Douglas e amigo de Daniel
Inácio e filho de Daniel
Luciano e irmao de Daniel
Luiza e irmao de Daniel
Sirley e irmao de Daniel
TRC e mae de Daniel

In [ ]:
nome=df_dict['Primeiro Nome']
relacao= df_dict['Relacao']
for i in range(len(nome)):
  print(f'{nome[i]} e {relacao[i]} de Daniel')

Inácio e filho de Daniel
Douglas e irmao de Daniel
Luiza e irmao de Daniel
Bruna e irmao de Daniel
Sirley e mae de Daniel
Cláudio e amigo de Daniel
Luciano e amigo de Daniel
TRC e amigo de Daniel

In [ ]:
# se a lista for numerica?
#os resultado e disposto em forma crescente
numerico_sorted= sorted(df_dict['Idade'])
numerico_sorted

[6, 22, 28, 31, 31, 32, 35, 53]

In [ ]:
#para uma lista muito grande e com valores repetidos
#deve utilizar a funcao unique()
numerico_sorted= sorted(df_dict['Idade'].unique())
numerico_sorted

[6, 22, 28, 31, 32, 35, 53]

#MÉTODOS FUNCIONAIS DE MAPEAMENTO

##FUNÇÕES: map(Series), aplly(DF*, Serie) e applymap(DF)
###Para tais métodos não se aplica o argumento 'inplace'
###aplly( )    ------  >>>>>>>>   DF* e Series
    
    Esta função aplica um metodo funcional de para uma linha ou coluna(serie do df). O retorno é uma serie cópia.
    df.apply(função, serie)
    serie do DataFrame:
      axis= 0 ---> aplica a cada linha
      axis= 1 ---> aplica a cada coluna
  
###map( )      ------  >>>>>>>>   Series
    
    Esta função aplica um metodo funcioal a uma serie. O retorno é uma serie cópia.
    serie.map(função)

###applymap( ) ------  >>>>>>>>   DF

    Esta função aplica um metodo funcional à cada termo do DataFrame. O retorno é um DataFrame cópia.
    df.applymap(função)

In [ ]:
# Funcao aplly()

In [ ]:
# Funcao map()

In [ ]:
# Funcao applymap()

#AGRUPAMENTO

##Goupby:
    Esta função é utilizada para se criar grupos de elementos baseados em dados categóricos.
##Uso

In [ ]:
#Agrupando pod estado
Estados= df_pre.groupby('ESTADO')
#Computar quais indices estao relacionado a cada estado
Estados.groups

{'ACRE': [13, 40, 67, 94, 121, 148, 175, 202, 229, 256, 283, 310, 337, 364, 391, 418, 445, 472, 499, 526, 553, 580, 607, 634, 661, 688, 715, 742, 769, 796, 823, 850, 877, 904, 931, 958, 985, 1012, 1039, 1066, 1093, 1120, 1147, 1174, 1201, 1228, 1255, 1282, 1309, 1336, 1363, 1390, 1417, 1444, 1471, 1498, 1525, 1552, 1579, 1606, 1633, 1660, 1687, 1714, 1741, 1768, 1795, 1821, 1847, 1874, 1900, 1927, 1953, 1980, 2007, 2034, 2061, 2087, 2114, 2141, 2168, 2195, 2222, 2249, 2276, 2303, 2330, 2357, 2384, 2411, 2438, 2465, 2492, 2519, 2546, 2573, 2600, 2627, 2654, 2681, ...], 'ALAGOAS': [4, 31, 58, 85, 112, 139, 166, 193, 220, 247, 274, 301, 328, 355, 382, 409, 436, 463, 490, 517, 544, 571, 598, 625, 652, 679, 706, 733, 760, 787, 814, 841, 868, 895, 922, 949, 976, 1003, 1030, 1057, 1084, 1111, 1138, 1165, 1192, 1219, 1246, 1273, 1300, 1327, 1354, 1381, 1408, 1435, 1462, 1489, 1516, 1543, 1570, 1597, 1624, 1651, 1678, 1705, 1732, 1759, 1786, 1812, 1838, 1865, 1891, 1918, 1944, 1971, 1998, 2025, 2052, 2078, 2105, 2132, 2159, 2186, 2213, 2240, 2267, 2294, 2321, 2348, 2375, 2402, 2429, 2456, 2483, 2510, 2537, 2564, 2591, 2618, 2645, 2672, ...], 'AMAPA': [14, 41, 68, 95, 122, 149, 176, 203, 230, 257, 284, 311, 338, 365, 392, 419, 446, 473, 500, 527, 554, 581, 608, 635, 662, 689, 716, 743, 770, 797, 824, 851, 878, 905, 932, 959, 986, 1013, 1040, 1067, 1094, 1121, 1148, 1175, 1202, 1229, 1256, 1283, 1310, 1337, 1364, 1391, 1418, 1445, 1472, 1499, 1526, 1553, 1580, 1607, 1634, 1661, 1688, 1715, 1742, 1769, 1796, 1822, 1848, 1875, 1901, 1954, 1981, 2008, 2035, 2062, 2088, 2115, 2142, 2169, 2196, 2223, 2250, 2277, 2304, 2331, 2358, 2385, 2412, 2439, 2466, 2493, 2520, 2547, 2574, 2601, 2628, 2655, 2682, 2709, ...], 'AMAZONAS': [15, 42, 69, 96, 123, 150, 177, 204, 231, 258, 285, 312, 339, 366, 393, 420, 447, 474, 501, 528, 555, 582, 609, 636, 663, 690, 717, 744, 771, 798, 825, 852, 879, 906, 933, 960, 987, 1014, 1041, 1068, 1095, 1122, 1149, 1176, 1203, 1230, 1257, 1284, 1311, 1338, 1365, 1392, 1419, 1446, 1473, 1500, 1527, 1554, 1581, 1608, 1635, 1662, 1689, 1716, 1743, 1770, 1797, 1823, 1849, 1876, 1902, 1928, 1955, 1982, 2009, 2036, 2063, 2089, 2116, 2143, 2170, 2197, 2224, 2251, 2278, 2305, 2332, 2359, 2386, 2413, 2440, 2467, 2494, 2521, 2548, 2575, 2602, 2629, 2656, 2683, ...], 'BAHIA': [5, 32, 59, 86, 113, 140, 167, 194, 221, 248, 275, 302, 329, 356, 383, 410, 437, 464, 491, 518, 545, 572, 599, 626, 653, 680, 707, 734, 761, 788, 815, 842, 869, 896, 923, 950, 977, 1004, 1031, 1058, 1085, 1112, 1139, 1166, 1193, 1220, 1247, 1274, 1301, 1328, 1355, 1382, 1409, 1436, 1463, 1490, 1517, 1544, 1571, 1598, 1625, 1652, 1679, 1706, 1733, 1760, 1787, 1813, 1839, 1866, 1892, 1919, 1945, 1972, 1999, 2026, 2053, 2079, 2106, 2133, 2160, 2187, 2214, 2241, 2268, 2295, 2322, 2349, 2376, 2403, 2430, 2457, 2484, 2511, 2538, 2565, 2592, 2619, 2646, 2673, ...], 'CEARA': [6, 33, 60, 87, 114, 141, 168, 195, 222, 249, 276, 303, 330, 357, 384, 411, 438, 465, 492, 519, 546, 573, 600, 627, 654, 681, 708, 735, 762, 789, 816, 843, 870, 897, 924, 951, 978, 1005, 1032, 1059, 1086, 1113, 1140, 1167, 1194, 1221, 1248, 1275, 1302, 1329, 1356, 1383, 1410, 1437, 1464, 1491, 1518, 1545, 1572, 1599, 1626, 1653, 1680, 1707, 1734, 1761, 1788, 1814, 1840, 1867, 1893, 1920, 1946, 1973, 2000, 2027, 2054, 2080, 2107, 2134, 2161, 2188, 2215, 2242, 2269, 2296, 2323, 2350, 2377, 2404, 2431, 2458, 2485, 2512, 2539, 2566, 2593, 2620, 2647, 2674, ...], 'DISTRITO FEDERAL': [0, 27, 54, 81, 108, 135, 162, 189, 216, 243, 270, 297, 324, 351, 378, 405, 432, 459, 486, 513, 540, 567, 594, 621, 648, 675, 702, 729, 756, 783, 810, 837, 864, 891, 918, 945, 972, 999, 1026, 1053, 1080, 1107, 1134, 1161, 1188, 1215, 1242, 1269, 1296, 1323, 1350, 1377, 1404, 1431, 1458, 1485, 1512, 1539, 1566, 1593, 1620, 1647, 1674, 1701, 1728, 1755, 1782, 1808, 1834, 1861, 1887, 1914, 1940, 1967, 1994, 2021, 2048, 2074, 2101, 2128, 2155, 2182, 2209, 2236, 2263, 2290, 2317, 2344, 2371, 2398, 2425, 2452, 2479, 2506, 2533, 2560, 2587, 2614, 2641, 2668, ...], 'ESPIRITO SANTO': [20, 47, 74, 101, 128, 155, 182, 209, 236, 263, 290, 317, 344, 371, 398, 425, 452, 479, 506, 533, 560, 587, 614, 641, 668, 695, 722, 749, 776, 803, 830, 857, 884, 911, 938, 965, 992, 1019, 1046, 1073, 1100, 1127, 1154, 1181, 1208, 1235, 1262, 1289, 1316, 1343, 1370, 1397, 1424, 1451, 1478, 1505, 1532, 1559, 1586, 1613, 1640, 1667, 1694, 1721, 1748, 1775, 1801, 1827, 1854, 1880, 1907, 1933, 1960, 1987, 2014, 2041, 2067, 2094, 2121, 2148, 2175, 2202, 2229, 2256, 2283, 2310, 2337, 2364, 2391, 2418, 2445, 2472, 2499, 2526, 2553, 2580, 2607, 2634, 2661, 2688, ...], 'GOIAS': [1, 28, 55, 82, 109, 136, 163, 190, 217, 244, 271, 298, 325, 352, 379, 406, 433, 460, 487, 514, 541, 568, 595, 622, 649, 676, 703, 730, 757, 784, 811, 838, 865, 892, 919, 946, 973, 1000, 1027, 1054, 1081, 1108, 1135, 1162, 1189, 1216, 1243, 1270, 1297, 1324, 1351, 1378, 1405, 1432, 1459, 1486, 1513, 1540, 1567, 1594, 1621, 1648, 1675, 1702, 1729, 1756, 1783, 1809, 1835, 1862, 1888, 1915, 1941, 1968, 1995, 2022, 2049, 2075, 2102, 2129, 2156, 2183, 2210, 2237, 2264, 2291, 2318, 2345, 2372, 2399, 2426, 2453, 2480, 2507, 2534, 2561, 2588, 2615, 2642, 2669, ...], 'MARANHAO': [7, 34, 61, 88, 115, 142, 169, 196, 223, 250, 277, 304, 331, 358, 385, 412, 439, 466, 493, 520, 547, 574, 601, 628, 655, 682, 709, 736, 763, 790, 817, 844, 871, 898, 925, 952, 979, 1006, 1033, 1060, 1087, 1114, 1141, 1168, 1195, 1222, 1249, 1276, 1303, 1330, 1357, 1384, 1411, 1438, 1465, 1492, 1519, 1546, 1573, 1600, 1627, 1654, 1681, 1708, 1735, 1762, 1789, 1815, 1841, 1868, 1894, 1921, 1947, 1974, 2001, 2028, 2055, 2081, 2108, 2135, 2162, 2189, 2216, 2243, 2270, 2297, 2324, 2351, 2378, 2405, 2432, 2459, 2486, 2513, 2540, 2567, 2594, 2621, 2648, 2675, ...], 'MATO GROSSO': [2, 29, 56, 83, 110, 137, 164, 191, 218, 245, 272, 299, 326, 353, 380, 407, 434, 461, 488, 515, 542, 569, 596, 623, 650, 677, 704, 731, 758, 785, 812, 839, 866, 893, 920, 947, 974, 1001, 1028, 1055, 1082, 1109, 1136, 1163, 1190, 1217, 1244, 1271, 1298, 1325, 1352, 1379, 1406, 1433, 1460, 1487, 1514, 1541, 1568, 1595, 1622, 1649, 1676, 1703, 1730, 1757, 1784, 1810, 1836, 1863, 1889, 1916, 1942, 1969, 1996, 2023, 2050, 2076, 2103, 2130, 2157, 2184, 2211, 2238, 2265, 2292, 2319, 2346, 2373, 2400, 2427, 2454, 2481, 2508, 2535, 2562, 2589, 2616, 2643, 2670, ...], 'MATO GROSSO DO SUL': [3, 30, 57, 84, 111, 138, 165, 192, 219, 246, 273, 300, 327, 354, 381, 408, 435, 462, 489, 516, 543, 570, 597, 624, 651, 678, 705, 732, 759, 786, 813, 840, 867, 894, 921, 948, 975, 1002, 1029, 1056, 1083, 1110, 1137, 1164, 1191, 1218, 1245, 1272, 1299, 1326, 1353, 1380, 1407, 1434, 1461, 1488, 1515, 1542, 1569, 1596, 1623, 1650, 1677, 1704, 1731, 1758, 1785, 1811, 1837, 1864, 1890, 1917, 1943, 1970, 1997, 2024, 2051, 2077, 2104, 2131, 2158, 2185, 2212, 2239, 2266, 2293, 2320, 2347, 2374, 2401, 2428, 2455, 2482, 2509, 2536, 2563, 2590, 2617, 2644, 2671, ...], 'MINAS GERAIS': [21, 48, 75, 102, 129, 156, 183, 210, 237, 264, 291, 318, 345, 372, 399, 426, 453, 480, 507, 534, 561, 588, 615, 642, 669, 696, 723, 750, 777, 804, 831, 858, 885, 912, 939, 966, 993, 1020, 1047, 1074, 1101, 1128, 1155, 1182, 1209, 1236, 1263, 1290, 1317, 1344, 1371, 1398, 1425, 1452, 1479, 1506, 1533, 1560, 1587, 1614, 1641, 1668, 1695, 1722, 1749, 1776, 1802, 1828, 1855, 1881, 1908, 1934, 1961, 1988, 2015, 2042, 2068, 2095, 2122, 2149, 2176, 2203, 2230, 2257, 2284, 2311, 2338, 2365, 2392, 2419, 2446, 2473, 2500, 2527, 2554, 2581, 2608, 2635, 2662, 2689, ...], 'PARA': [16, 43, 70, 97, 124, 151, 178, 205, 232, 259, 286, 313, 340, 367, 394, 421, 448, 475, 502, 529, 556, 583, 610, 637, 664, 691, 718, 745, 772, 799, 826, 853, 880, 907, 934, 961, 988, 1015, 1042, 1069, 1096, 1123, 1150, 1177, 1204, 1231, 1258, 1285, 1312, 1339, 1366, 1393, 1420, 1447, 1474, 1501, 1528, 1555, 1582, 1609, 1636, 1663, 1690, 1717, 1744, 1771, 1798, 1824, 1850, 1877, 1903, 1929, 1956, 1983, 2010, 2037, 2064, 2090, 2117, 2144, 2171, 2198, 2225, 2252, 2279, 2306, 2333, 2360, 2387, 2414, 2441, 2468, 2495, 2522, 2549, 2576, 2603, 2630, 2657, 2684, ...], 'PARAIBA': [8, 35, 62, 89, 116, 143, 170, 197, 224, 251, 278, 305, 332, 359, 386, 413, 440, 467, 494, 521, 548, 575, 602, 629, 656, 683, 710, 737, 764, 791, 818, 845, 872, 899, 926, 953, 980, 1007, 1034, 1061, 1088, 1115, 1142, 1169, 1196, 1223, 1250, 1277, 1304, 1331, 1358, 1385, 1412, 1439, 1466, 1493, 1520, 1547, 1574, 1601, 1628, 1655, 1682, 1709, 1736, 1763, 1790, 1816, 1842, 1869, 1895, 1922, 1948, 1975, 2002, 2029, 2056, 2082, 2109, 2136, 2163, 2190, 2217, 2244, 2271, 2298, 2325, 2352, 2379, 2406, 2433, 2460, 2487, 2514, 2541, 2568, 2595, 2622, 2649, 2676, ...], 'PARANA': [24, 51, 78, 105, 132, 159, 186, 213, 240, 267, 294, 321, 348, 375, 402, 429, 456, 483, 510, 537, 564, 591, 618, 645, 672, 699, 726, 753, 780, 807, 834, 861, 888, 915, 942, 969, 996, 1023, 1050, 1077, 1104, 1131, 1158, 1185, 1212, 1239, 1266, 1293, 1320, 1347, 1374, 1401, 1428, 1455, 1482, 1509, 1536, 1563, 1590, 1617, 1644, 1671, 1698, 1725, 1752, 1779, 1805, 1831, 1858, 1884, 1911, 1937, 1964, 1991, 2018, 2045, 2071, 2098, 2125, 2152, 2179, 2206, 2233, 2260, 2287, 2314, 2341, 2368, 2395, 2422, 2449, 2476, 2503, 2530, 2557, 2584, 2611, 2638, 2665, 2692, ...], 'PERNAMBUCO': [9, 36, 63, 90, 117, 144, 171, 198, 225, 252, 279, 306, 333, 360, 387, 414, 441, 468, 495, 522, 549, 576, 603, 630, 657, 684, 711, 738, 765, 792, 819, 846, 873, 900, 927, 954, 981, 1008, 1035, 1062, 1089, 1116, 1143, 1170, 1197, 1224, 1251, 1278, 1305, 1332, 1359, 1386, 1413, 1440, 1467, 1494, 1521, 1548, 1575, 1602, 1629, 1656, 1683, 1710, 1737, 1764, 1791, 1817, 1843, 1870, 1896, 1923, 1949, 1976, 2003, 2030, 2057, 2083, 2110, 2137, 2164, 2191, 2218, 2245, 2272, 2299, 2326, 2353, 2380, 2407, 2434, 2461, 2488, 2515, 2542, 2569, 2596, 2623, 2650, 2677, ...], 'PIAUI': [10, 37, 64, 91, 118, 145, 172, 199, 226, 253, 280, 307, 334, 361, 388, 415, 442, 469, 496, 523, 550, 577, 604, 631, 658, 685, 712, 739, 766, 793, 820, 847, 874, 901, 928, 955, 982, 1009, 1036, 1063, 1090, 1117, 1144, 1171, 1198, 1225, 1252, 1279, 1306, 1333, 1360, 1387, 1414, 1441, 1468, 1495, 1522, 1549, 1576, 1603, 1630, 1657, 1684, 1711, 1738, 1765, 1792, 1818, 1844, 1871, 1897, 1924, 1950, 1977, 2004, 2031, 2058, 2084, 2111, 2138, 2165, 2192, 2219, 2246, 2273, 2300, 2327, 2354, 2381, 2408, 2435, 2462, 2489, 2516, 2543, 2570, 2597, 2624, 2651, 2678, ...], 'RIO DE JANEIRO': [22, 49, 76, 103, 130, 157, 184, 211, 238, 265, 292, 319, 346, 373, 400, 427, 454, 481, 508, 535, 562, 589, 616, 643, 670, 697, 724, 751, 778, 805, 832, 859, 886, 913, 940, 967, 994, 1021, 1048, 1075, 1102, 1129, 1156, 1183, 1210, 1237, 1264, 1291, 1318, 1345, 1372, 1399, 1426, 1453, 1480, 1507, 1534, 1561, 1588, 1615, 1642, 1669, 1696, 1723, 1750, 1777, 1803, 1829, 1856, 1882, 1909, 1935, 1962, 1989, 2016, 2043, 2069, 2096, 2123, 2150, 2177, 2204, 2231, 2258, 2285, 2312, 2339, 2366, 2393, 2420, 2447, 2474, 2501, 2528, 2555, 2582, 2609, 2636, 2663, 2690, ...], 'RIO GRANDE DO NORTE': [11, 38, 65, 92, 119, 146, 173, 200, 227, 254, 281, 308, 335, 362, 389, 416, 443, 470, 497, 524, 551, 578, 605, 632, 659, 686, 713, 740, 767, 794, 821, 848, 875, 902, 929, 956, 983, 1010, 1037, 1064, 1091, 1118, 1145, 1172, 1199, 1226, 1253, 1280, 1307, 1334, 1361, 1388, 1415, 1442, 1469, 1496, 1523, 1550, 1577, 1604, 1631, 1658, 1685, 1712, 1739, 1766, 1793, 1819, 1845, 1872, 1898, 1925, 1951, 1978, 2005, 2032, 2059, 2085, 2112, 2139, 2166, 2193, 2220, 2247, 2274, 2301, 2328, 2355, 2382, 2409, 2436, 2463, 2490, 2517, 2544, 2571, 2598, 2625, 2652, 2679, ...], 'RIO GRANDE DO SUL': [25, 52, 79, 106, 133, 160, 187, 214, 241, 268, 295, 322, 349, 376, 403, 430, 457, 484, 511, 538, 565, 592, 619, 646, 673, 700, 727, 754, 781, 808, 835, 862, 889, 916, 943, 970, 997, 1024, 1051, 1078, 1105, 1132, 1159, 1186, 1213, 1240, 1267, 1294, 1321, 1348, 1375, 1402, 1429, 1456, 1483, 1510, 1537, 1564, 1591, 1618, 1645, 1672, 1699, 1726, 1753, 1780, 1806, 1832, 1859, 1885, 1912, 1938, 1965, 1992, 2019, 2046, 2072, 2099, 2126, 2153, 2180, 2207, 2234, 2261, 2288, 2315, 2342, 2369, 2396, 2423, 2450, 2477, 2504, 2531, 2558, 2585, 2612, 2639, 2666, 2693, ...], 'RONDONIA': [17, 44, 71, 98, 125, 152, 179, 206, 233, 260, 287, 314, 341, 368, 395, 422, 449, 476, 503, 530, 557, 584, 611, 638, 665, 692, 719, 746, 773, 800, 827, 854, 881, 908, 935, 962, 989, 1016, 1043, 1070, 1097, 1124, 1151, 1178, 1205, 1232, 1259, 1286, 1313, 1340, 1367, 1394, 1421, 1448, 1475, 1502, 1529, 1556, 1583, 1610, 1637, 1664, 1691, 1718, 1745, 1772, 1799, 1825, 1851, 1878, 1904, 1930, 1957, 1984, 2011, 2038, 2065, 2091, 2118, 2145, 2172, 2199, 2226, 2253, 2280, 2307, 2334, 2361, 2388, 2415, 2442, 2469, 2496, 2523, 2550, 2577, 2604, 2631, 2658, 2685, ...], 'RORAIMA': [18, 45, 72, 99, 126, 153, 180, 207, 234, 261, 288, 315, 342, 369, 396, 423, 450, 477, 504, 531, 558, 585, 612, 639, 666, 693, 720, 747, 774, 801, 828, 855, 882, 909, 936, 963, 990, 1017, 1044, 1071, 1098, 1125, 1152, 1179, 1206, 1233, 1260, 1287, 1314, 1341, 1368, 1395, 1422, 1449, 1476, 1503, 1530, 1557, 1584, 1611, 1638, 1665, 1692, 1719, 1746, 1773, 1852, 1905, 1931, 1958, 1985, 2012, 2039, 2092, 2119, 2146, 2173, 2200, 2227, 2254, 2281, 2308, 2335, 2362, 2389, 2416, 2443, 2470, 2497, 2524, 2551, 2578, 2605, 2632, 2659, 2686, 2713, 2740, 2767, 2794, ...], 'SANTA CATARINA': [26, 53, 80, 107, 134, 161, 188, 215, 242, 269, 296, 323, 350, 377, 404, 431, 458, 485, 512, 539, 566, 593, 620, 647, 674, 701, 728, 755, 782, 809, 836, 863, 890, 917, 944, 971, 998, 1025, 1052, 1079, 1106, 1133, 1160, 1187, 1214, 1241, 1268, 1295, 1322, 1349, 1376, 1403, 1430, 1457, 1484, 1511, 1538, 1565, 1592, 1619, 1646, 1673, 1700, 1727, 1754, 1781, 1807, 1833, 1860, 1886, 1913, 1939, 1966, 1993, 2020, 2047, 2073, 2100, 2127, 2154, 2181, 2208, 2235, 2262, 2289, 2316, 2343, 2370, 2397, 2424, 2451, 2478, 2505, 2532, 2559, 2586, 2613, 2640, 2667, 2694, ...], 'SAO PAULO': [23, 50, 77, 104, 131, 158, 185, 212, 239, 266, 293, 320, 347, 374, 401, 428, 455, 482, 509, 536, 563, 590, 617, 644, 671, 698, 725, 752, 779, 806, 833, 860, 887, 914, 941, 968, 995, 1022, 1049, 1076, 1103, 1130, 1157, 1184, 1211, 1238, 1265, 1292, 1319, 1346, 1373, 1400, 1427, 1454, 1481, 1508, 1535, 1562, 1589, 1616, 1643, 1670, 1697, 1724, 1751, 1778, 1804, 1830, 1857, 1883, 1910, 1936, 1963, 1990, 2017, 2044, 2070, 2097, 2124, 2151, 2178, 2205, 2232, 2259, 2286, 2313, 2340, 2367, 2394, 2421, 2448, 2475, 2502, 2529, 2556, 2583, 2610, 2637, 2664, 2691, ...], 'SERGIPE': [12, 39, 66, 93, 120, 147, 174, 201, 228, 255, 282, 309, 336, 363, 390, 417, 444, 471, 498, 525, 552, 579, 606, 633, 660, 687, 714, 741, 768, 795, 822, 849, 876, 903, 930, 957, 984, 1011, 1038, 1065, 1092, 1119, 1146, 1173, 1200, 1227, 1254, 1281, 1308, 1335, 1362, 1389, 1416, 1443, 1470, 1497, 1524, 1551, 1578, 1605, 1632, 1659, 1686, 1713, 1740, 1767, 1794, 1820, 1846, 1873, 1899, 1926, 1952, 1979, 2006, 2033, 2060, 2086, 2113, 2140, 2167, 2194, 2221, 2248, 2275, 2302, 2329, 2356, 2383, 2410, 2437, 2464, 2491, 2518, 2545, 2572, 2599, 2626, 2653, 2680, ...], 'TOCANTINS': [19, 46, 73, 100, 127, 154, 181, 208, 235, 262, 289, 316, 343, 370, 397, 424, 451, 478, 505, 532, 559, 586, 613, 640, 667, 694, 721, 748, 775, 802, 829, 856, 883, 910, 937, 964, 991, 1018, 1045, 1072, 1099, 1126, 1153, 1180, 1207, 1234, 1261, 1288, 1315, 1342, 1369, 1396, 1423, 1450, 1477, 1504, 1531, 1558, 1585, 1612, 1639, 1666, 1693, 1720, 1747, 1774, 1800, 1826, 1853, 1879, 1906, 1932, 1959, 1986, 2013, 2040, 2066, 2093, 2120, 2147, 2174, 2201, 2228, 2255, 2282, 2309, 2336, 2363, 2390, 2417, 2444, 2471, 2498, 2525, 2552, 2579, 2606, 2633, 2660, 2687, ...]}

In [ ]:
#Podemos obter os resultados acima agrupados por índices
#Quais indices estao relacionados a cada grupo organizado
Estados.indices

{'ACRE': array([    13,     40,     67, ..., 106727, 106754, 106781]),
 'ALAGOAS': array([     4,     31,     58, ..., 106755, 106782, 106808]),
 'AMAPA': array([    14,     41,     68, ..., 106729, 106756, 106783]),
 'AMAZONAS': array([    15,     42,     69, ..., 106730, 106757, 106784]),
 'BAHIA': array([     5,     32,     59, ..., 106758, 106785, 106809]),
 'CEARA': array([     6,     33,     60, ..., 106759, 106786, 106810]),
 'DISTRITO FEDERAL': array([     0,     27,     54, ..., 106733, 106760, 106787]),
 'ESPIRITO SANTO': array([    20,     47,     74, ..., 106761, 106788, 106811]),
 'GOIAS': array([     1,     28,     55, ..., 106735, 106762, 106789]),
 'MARANHAO': array([     7,     34,     61, ..., 106736, 106763, 106790]),
 'MATO GROSSO': array([     2,     29,     56, ..., 106737, 106764, 106791]),
 'MATO GROSSO DO SUL': array([     3,     30,     57, ..., 106765, 106792, 106812]),
 'MINAS GERAIS': array([    21,     48,     75, ..., 106766, 106793, 106813]),
 'PARA': array([    16,     43,     70, ..., 106740, 106767, 106794]),
 'PARAIBA': array([     8,     35,     62, ..., 106768, 106795, 106814]),
 'PARANA': array([    24,     51,     78, ..., 106769, 106796, 106815]),
 'PERNAMBUCO': array([     9,     36,     63, ..., 106770, 106797, 106816]),
 'PIAUI': array([    10,     37,     64, ..., 106744, 106771, 106798]),
 'RIO DE JANEIRO': array([    22,     49,     76, ..., 106772, 106799, 106817]),
 'RIO GRANDE DO NORTE': array([    11,     38,     65, ..., 106773, 106800, 106818]),
 'RIO GRANDE DO SUL': array([    25,     52,     79, ..., 106774, 106801, 106819]),
 'RONDONIA': array([    17,     44,     71, ..., 106748, 106775, 106802]),
 'RORAIMA': array([    18,     45,     72, ..., 106749, 106776, 106803]),
 'SANTA CATARINA': array([    26,     53,     80, ..., 106777, 106804, 106820]),
 'SAO PAULO': array([    23,     50,     77, ..., 106778, 106805, 106821]),
 'SERGIPE': array([    12,     39,     66, ..., 106779, 106806, 106822]),
 'TOCANTINS': array([    19,     46,     73, ..., 106753, 106780, 106807])}

In [ ]:
#Podemos obter series dos indices, muito util para a funcao .iloc[]
#Quais indices estao relacionados ao estado do Acre
Estados.indices['ACRE']

array([    13,     40,     67, ..., 106727, 106754, 106781])

In [ ]:
#Podemos obter as informacoes relacionadas a um elemento dos grupos selecionados
Estados.get_group('ALAGOAS')

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.40,0.240,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
31,2004-05-16,2004-05-22,NORDESTE,ALAGOAS,ETANOL HIDRATADO,106,R$/l,1.182,0.069,1.050,1.40,0.257,0.058,0.925,0.065,0.7561,1.0317,0.07,5,2004
58,2004-05-23,2004-05-29,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.182,0.076,1.050,1.40,0.252,0.064,0.930,0.079,0.7561,1.0782,0.085,5,2004
85,2004-05-30,2004-06-05,NORDESTE,ALAGOAS,ETANOL HIDRATADO,105,R$/l,1.184,0.083,1.050,1.55,0.269,0.070,0.915,0.074,0.7441,1.0792,0.081,5,2004
112,2004-06-06,2004-06-12,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.201,0.060,1.050,1.40,0.259,0.050,0.942,0.083,0.7441,1.1584,0.088,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106701,2019-06-23,2019-06-29,NORDESTE,ALAGOAS,ÓLEO DIESEL,35,R$/l,3.702,0.158,3.559,4.10,0.448,0.043,3.254,0.099,3.1740,3.5779,0.03,6,2019
106728,2019-06-23,2019-06-29,NORDESTE,ALAGOAS,ÓLEO DIESEL S10,48,R$/l,3.782,0.147,3.599,4.15,0.333,0.039,3.449,0.080,3.2855,3.5870,0.023,6,2019
106755,2019-06-23,2019-06-29,NORDESTE,ALAGOAS,GASOLINA COMUM,57,R$/l,4.554,0.231,4.230,5.11,0.528,0.051,4.026,0.098,3.9423,4.2919,0.024,6,2019
106782,2019-06-23,2019-06-29,NORDESTE,ALAGOAS,GLP,26,R$/13Kg,65.016,3.515,60.000,73.00,16.847,0.054,48.169,2.215,45.2300,51.2500,0.046,6,2019
106808,2019-06-23,2019-06-29,NORDESTE,ALAGOAS,GNV,8,R$/m3,3.458,0.085,3.450,3.70,1.007,0.025,2.451,0.183,2.3211,2.5803,0.075,6,2019

In [ ]:
minas= Estados.get_group('MINAS GERAIS')

In [ ]:
minas.describe()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,MÊS,ANO
count,4261.000000,4261.000000,4261.000000,4261.000000,4261.000000,4142.000000,4261.000000,4142.000000,4142.000000,4142.000000,4142.000000,4261.000000,4261.000000
mean,678.322694,10.243751,0.710051,8.130775,12.351129,2.381210,0.052620,8.078531,0.691355,6.071621,10.110757,6.484863,2011.773997
std,422.108891,17.322878,1.424556,13.172049,21.502871,4.666816,0.022218,12.942860,1.405124,9.380094,17.032405,3.443176,4.400047
min,1.000000,1.110000,0.000000,0.880000,1.180000,0.112000,0.000000,0.711000,0.000000,0.379700,0.874200,1.000000,2004.000000
25%,359.000000,1.936000,0.088000,1.699000,2.199000,0.268000,0.035000,1.656000,0.054000,1.446900,1.831500,4.000000,2008.000000
50%,792.000000,2.514000,0.125000,2.279000,2.920000,0.338000,0.049000,2.198500,0.087000,2.040000,2.427650,6.000000,2012.000000
75%,991.000000,3.577000,0.166000,3.249000,4.059000,0.492750,0.063000,3.252250,0.153000,3.018425,3.510600,9.000000,2016.000000
max,1532.000000,79.192000,7.802000,60.000000,100.000000,29.917000,0.170000,53.944000,7.165000,45.870000,76.050000,12.000000,2019.000000

In [ ]:
Estados.describe()

                    NÚMERO DE POSTOS PESQUISADOS                            \
                                           count         mean          std
ESTADO
ACRE                                      3480.0    44.089080    19.941351
ALAGOAS                                   4250.0    57.797647    37.867005
AMAPA                                     3403.0    21.866001    12.926929
AMAZONAS                                  3889.0    89.530213    59.413618
BAHIA                                     4263.0   281.310579   150.449791
CEARA                                     4263.0   171.086324    95.618641
DISTRITO FEDERAL                          3483.0    75.427218    41.941750
ESPIRITO SANTO                            4260.0   130.030516    83.903966
GOIAS                                     3663.0   262.210210   131.566332
MARANHAO                                  3499.0   107.347528    40.205815
MATO GROSSO                               4037.0   112.787714    56.451860
MATO GROSSO DO SUL                        4246.0   103.469854    64.755588
MINAS GERAIS                              4261.0   678.322694   422.108891
PARA                                      3497.0   138.802116    60.354230
PARAIBA                                   4263.0    81.512550    47.015546
PARANA                                    4251.0   410.244884   252.713725
PERNAMBUCO                                4262.0   213.569686   131.143032
PIAUI                                     3548.0    71.381905    27.058872
RIO DE JANEIRO                            4263.0   451.105090   267.492445
RIO GRANDE DO NORTE                       4262.0    75.070155    41.792898
RIO GRANDE DO SUL                         4263.0   400.272109   251.827865
RONDONIA                                  3479.0    81.422535    26.953546
RORAIMA                                   3471.0    24.484587    14.329198
SANTA CATARINA                            4262.0   250.076959   164.767391
SAO PAULO                                 4263.0  1593.302838  1015.654287
SERGIPE                                   4259.0    37.873210    19.476290
TOCANTINS                                 3483.0    59.384439    24.556294

                                                            \
                      min     25%     50%      75%     max
ESTADO
ACRE                  1.0   31.00    41.0    52.00   119.0
ALAGOAS               1.0   26.25    49.5    95.00   178.0
AMAPA                 1.0   12.00    19.0    30.00    55.0
AMAZONAS              1.0   43.00    79.0   121.00   383.0
BAHIA                 4.0  199.00   316.0   409.00   625.0
CEARA                 2.0  113.00   200.0   228.00   493.0
DISTRITO FEDERAL      1.0   39.00    80.0   102.00   419.0
ESPIRITO SANTO        1.0   65.00   144.0   188.00   334.0
GOIAS                 1.0  209.00   254.0   321.50   766.0
MARANHAO              1.0   81.00   109.0   141.00   204.0
MATO GROSSO           1.0   88.00   132.0   142.00   269.0
MATO GROSSO DO SUL    1.0   59.00   114.0   140.00   298.0
MINAS GERAIS          1.0  359.00   792.0   991.00  1532.0
PARA                  1.0   95.00   130.0   194.00   272.0
PARAIBA               1.0   40.00    95.0   120.00   200.0
PARANA                1.0  223.50   468.0   568.00   997.0
PERNAMBUCO            1.0   92.25   228.5   321.00   539.0
PIAUI                 1.0   53.00    68.0    98.00   145.0
RIO DE JANEIRO        4.0  223.00   385.0   715.00  1361.0
RIO GRANDE DO NORTE   2.0   42.00    67.0   114.00   183.0
RIO GRANDE DO SUL     3.0  193.50   427.0   615.00   924.0
RONDONIA              1.0   63.00    92.0   100.00   238.0
RORAIMA               1.0   13.00    24.0    33.00    93.0
SANTA CATARINA        5.0  103.00   245.0   381.75  1416.0
SAO PAULO            13.0  854.00  1663.0  2373.00  4167.0
SERGIPE               1.0   23.00    39.0    53.00    96.0
TOCANTINS             1.0   41.00    59.0    69.00   192.0

                    PREÇO MÉDIO REVENDA             ...    MÊS           ANO  \
                                  count       mean  ...    75%   max   count
ESTADO                                              ...
ACRE                             3480.0  13.544876  ...   9.25  12.0  3480.0
ALAGOAS                          4250.0   9.622259  ...   9.00  12.0  4250.0
AMAPA                            3403.0  13.435394  ...   9.00  12.0  3403.0
AMAZONAS                         3889.0  10.368645  ...  10.00  12.0  3889.0
BAHIA                            4263.0   9.406878  ...   9.00  12.0  4263.0
CEARA                            4263.0  10.226637  ...   9.00  12.0  4263.0
DISTRITO FEDERAL                 3483.0  12.197823  ...   9.00  12.0  3483.0
ESPIRITO SANTO                   4260.0   9.534348  ...   9.25  12.0  4260.0
GOIAS                            3663.0  11.309635  ...   9.00  12.0  3663.0
MARANHAO                         3499.0  11.992578  ...   9.00  12.0  3499.0
MATO GROSSO                      4037.0  12.861120  ...   9.00  12.0  4037.0
MATO GROSSO DO SUL               4246.0  11.045832  ...   9.00  12.0  4246.0
MINAS GERAIS                     4261.0  10.243751  ...   9.00  12.0  4261.0
PARA                             3497.0  12.292955  ...   9.00  12.0  3497.0
PARAIBA                          4263.0   9.464513  ...   9.00  12.0  4263.0
PARANA                           4251.0   9.845426  ...  10.00  12.0  4251.0
PERNAMBUCO                       4262.0   9.352028  ...   9.00  12.0  4262.0
PIAUI                            3548.0  11.739773  ...   9.25  12.0  3548.0
RIO DE JANEIRO                   4263.0   9.537528  ...   9.00  12.0  4263.0
RIO GRANDE DO NORTE              4262.0   9.832325  ...   9.00  12.0  4262.0
RIO GRANDE DO SUL                4263.0  10.061393  ...   9.00  12.0  4263.0
RONDONIA                         3479.0  12.808276  ...   9.00  12.0  3479.0
RORAIMA                          3471.0  13.209867  ...   9.00  12.0  3471.0
SANTA CATARINA                   4262.0  10.115375  ...   9.00  12.0  4262.0
SAO PAULO                        4263.0   9.485222  ...   9.00  12.0  4263.0
SERGIPE                          4259.0   9.857946  ...   9.50  12.0  4259.0
TOCANTINS                        3483.0  13.326909  ...   9.00  12.0  3483.0

                                                                            \
                            mean       std     min     25%     50%     75%
ESTADO
ACRE                 2011.848563  4.398881  2004.0  2008.0  2012.0  2016.0
ALAGOAS              2011.762118  4.398659  2004.0  2008.0  2012.0  2016.0
AMAPA                2011.738172  4.360979  2004.0  2008.0  2012.0  2015.0
AMAZONAS             2011.832605  4.362969  2004.0  2008.0  2012.0  2016.0
BAHIA                2011.775745  4.399768  2004.0  2008.0  2012.0  2016.0
CEARA                2011.775745  4.399768  2004.0  2008.0  2012.0  2016.0
DISTRITO FEDERAL     2011.857307  4.401193  2004.0  2008.0  2012.0  2016.0
ESPIRITO SANTO       2011.777700  4.400700  2004.0  2008.0  2012.0  2016.0
GOIAS                2011.948949  4.325172  2004.0  2008.0  2013.0  2016.0
MARANHAO             2011.859103  4.399229  2004.0  2008.0  2012.0  2016.0
MATO GROSSO          2011.893238  4.284626  2004.0  2008.0  2012.0  2016.0
MATO GROSSO DO SUL   2011.763071  4.398459  2004.0  2008.0  2012.0  2016.0
MINAS GERAIS         2011.773997  4.400047  2004.0  2008.0  2012.0  2016.0
PARA                 2011.844724  4.390893  2004.0  2008.0  2012.0  2016.0
PARAIBA              2011.775745  4.399768  2004.0  2008.0  2012.0  2016.0
PARANA               2011.781698  4.400840  2004.0  2008.0  2012.0  2016.0
PERNAMBUCO           2011.774284  4.399251  2004.0  2008.0  2012.0  2016.0
PIAUI                2011.738726  4.456689  2004.0  2008.0  2012.0  2016.0
RIO DE JANEIRO       2011.775745  4.399768  2004.0  2008.0  2012.0  2016.0
RIO GRANDE DO NORTE  2011.775692  4.400283  2004.0  2008.0  2012.0  2016.0
RIO GRANDE DO SUL    2011.775745  4.399768  2004.0  2008.0  2012.0  2016.0
RONDONIA             2011.849095  4.400709  2004.0  2008.0  2012.0  2016.0
RORAIMA              2011.856237  4.394628  2004.0  2008.0  2012.0  2016.0
SANTA CATARINA       2011.774284  4.399251  2004.0  2008.0  2012.0  2016.0
SAO PAULO            2011.775745  4.399768  2004.0  2008.0  2012.0  2016.0
SERGIPE              2011.770134  4.398000  2004.0  2008.0  2012.0  2016.0
TOCANTINS            2011.856158  4.401025  2004.0  2008.0  2012.0  2016.0


                        max
ESTADO
ACRE                 2019.0
ALAGOAS              2019.0
AMAPA                2019.0
AMAZONAS             2019.0
BAHIA                2019.0
CEARA                2019.0
DISTRITO FEDERAL     2019.0
ESPIRITO SANTO       2019.0
GOIAS                2019.0
MARANHAO             2019.0
MATO GROSSO          2019.0
MATO GROSSO DO SUL   2019.0
MINAS GERAIS         2019.0
PARA                 2019.0
PARAIBA              2019.0
PARANA               2019.0
PERNAMBUCO           2019.0
PIAUI                2019.0
RIO DE JANEIRO       2019.0
RIO GRANDE DO NORTE  2019.0
RIO GRANDE DO SUL    2019.0
RONDONIA             2019.0
RORAIMA              2019.0
SANTA CATARINA       2019.0
SAO PAULO            2019.0
SERGIPE              2019.0
TOCANTINS            2019.0

[27 rows x 104 columns]

In [ ]:
#uma forma mais direcionada e descrever por caracteristica
Estados.mean()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,MÊS,ANO
ESTADO,,,,,,,,,,,,,
ACRE,44.089080,13.544876,0.668713,12.502021,15.497554,1.888183,0.052198,11.691301,0.336655,10.836017,12.275504,6.484483,2011.848563
ALAGOAS,57.797647,9.622259,0.502787,8.624471,10.425370,2.003822,0.036839,6.343445,0.331152,5.857814,6.838059,6.480000,2011.762118
AMAPA,21.866001,13.435394,0.919000,12.356697,15.829407,2.661890,0.051280,10.015168,0.533589,9.456503,10.700301,6.483103,2011.738172
AMAZONAS,89.530213,10.368645,0.598383,9.464594,12.349382,1.495074,0.049731,9.278496,0.324597,7.914675,10.188392,6.482386,2011.832605
BAHIA,281.310579,9.406878,0.780609,7.460051,11.333843,2.255475,0.055413,7.151402,0.548481,5.934073,8.793798,6.486512,2011.775745
CEARA,171.086324,10.226637,0.530485,8.870003,11.327119,1.865864,0.040419,6.656966,0.395369,5.884307,7.431309,6.486512,2011.775745
DISTRITO FEDERAL,75.427218,12.197823,0.539905,10.899939,13.473801,2.657824,0.025401,9.726359,0.505789,9.060980,10.611387,6.481194,2011.857307
ESPIRITO SANTO,130.030516,9.534348,0.506248,8.255246,10.916804,2.283229,0.044938,7.540132,0.352828,6.839853,8.513511,6.485211,2011.777700
GOIAS,262.210210,11.309635,0.618088,10.023798,13.068597,2.011364,0.045885,9.844750,0.537166,8.629189,11.178033,6.480480,2011.948949
MARANHAO,107.347528,11.992578,0.964480,10.295648,14.053334,2.490234,0.054787,9.535118,0.666611,8.262690,10.736432,6.474707,2011.859103
MATO GROSSO,112.787714,12.861120,0.739139,10.961478,14.634190,2.734881,0.045865,10.883024,0.958412,9.271190,12.308308,6.482537,2011.893238
MATO GROSSO DO SUL,103.469854,11.045832,0.728072,9.178875,12.641682,2.350680,0.042208,9.053498,0.732973,7.269685,10.437357,6.477155,2011.763071
MINAS GERAIS,678.322694,10.243751,0.710051,8.130775,12.351129,2.381210,0.052620,8.078531,0.691355,6.071621,10.110757,6.484863,2011.773997
PARA,138.802116,12.292955,1.065667,10.306651,15.037137,2.838806,0.065377,9.495459,0.661530,8.230949,11.251411,6.480126,2011.844724
PARAIBA,81.512550,9.464513,0.461666,8.430676,10.450415,1.820352,0.037869,7.672232,0.601097,6.538862,8.770435,6.486512,2011.775745
PARANA,410.244884,9.845426,0.795021,7.984609,12.164207,2.405541,0.050284,8.130571,0.684336,6.758086,10.144765,6.483886,2011.781698
PERNAMBUCO,213.569686,9.352028,0.593018,8.007681,11.007556,1.988611,0.044981,7.391477,0.575851,6.211756,8.720080,6.486861,2011.774284
PIAUI,71.381905,11.739773,0.637158,10.643446,13.117263,2.189019,0.037721,8.888962,0.656031,7.859075,9.691253,6.489853,2011.738726
RIO DE JANEIRO,451.105090,9.537528,0.747521,7.753026,11.649286,2.339802,0.062407,7.199447,0.604704,5.737403,8.831860,6.486512,2011.775745
RIO GRANDE DO NORTE,75.070155,9.832325,0.411887,8.909198,10.683018,1.803058,0.031738,6.748859,0.373307,6.157448,7.332401,6.485218,2011.775692
RIO GRANDE DO SUL,400.272109,10.061393,0.692152,8.120197,12.174703,2.424186,0.048132,7.662576,0.778118,5.847424,9.944252,6.486512,2011.775745
RONDONIA,81.422535,12.808276,0.876247,11.317442,14.600469,2.243737,0.048748,10.573730,0.454002,9.915435,11.665332,6.484909,2011.849095
RORAIMA,24.484587,13.209867,0.346421,12.458070,13.950528,1.779456,0.022304,11.454547,0.109840,11.137001,11.612354,6.479977,2011.856237
SANTA CATARINA,250.076959,10.115375,0.648519,8.620085,11.924226,2.024665,0.043411,8.132517,0.713802,6.752241,9.475072,6.486861,2011.774284
SAO PAULO,1593.302838,9.485222,0.711932,7.341370,12.021233,2.337622,0.060550,7.149841,0.684848,5.373708,9.828221,6.486512,2011.775745
SERGIPE,37.873210,9.857946,0.480732,8.817678,10.709561,2.275721,0.034616,7.519520,0.511442,6.835746,8.287747,6.486499,2011.770134
TOCANTINS,59.384439,13.326909,0.594349,12.004584,14.479244,2.755309,0.038845,10.400851,0.697694,9.160493,11.505335,6.485788,2011.856158

In [ ]:
Estados.min()

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
ESTADO,,,,,,,,,,,,,,,,,,,
ACRE,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,1,R$/13Kg,1.713,0.000,1.380,1.900,0.180,0.000,1.014,0.00,0.76700,1.2222,-,1,2004
ALAGOAS,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1,R$/13Kg,1.074,0.000,1.050,1.084,0.068,0.000,0.599,0.00,0.59920,0.5992,-,1,2004
AMAPA,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,1,R$/13Kg,1.504,0.000,1.400,1.590,0.036,0.000,1.228,0.00,0.83390,1.2283,-,1,2004
AMAZONAS,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,1,R$/13Kg,1.399,0.000,1.190,1.399,0.112,0.000,1.004,0.00,0.78740,1.0158,-,1,2004
BAHIA,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,4,R$/13Kg,1.079,0.000,0.999,1.079,0.139,0.000,0.688,0.00,0.42140,0.7959,0,1,2004
CEARA,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,2,R$/13Kg,1.182,0.000,1.030,1.184,0.041,0.000,0.745,0.00,0.58110,0.9173,-,1,2004
DISTRITO FEDERAL,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,1,R$/13Kg,1.216,0.000,0.970,1.300,0.086,0.000,0.818,0.00,0.38790,0.9666,-,1,2004
ESPIRITO SANTO,2004-05-09,2004-05-15,SUDESTE,ETANOL HIDRATADO,1,R$/13Kg,1.135,0.000,0.840,1.139,0.001,0.000,0.506,0.00,0.47310,0.7822,-,1,2004
GOIAS,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,1,R$/13Kg,1.162,0.000,0.870,1.439,0.144,0.000,0.737,0.00,0.47900,1.0352,-,1,2004
MARANHAO,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1,R$/13Kg,1.290,0.000,1.230,1.530,0.039,0.000,0.767,0.00,0.76690,0.7669,-,1,2004
MATO GROSSO,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,1,R$/13Kg,1.204,0.000,0.980,1.299,0.031,0.000,0.970,0.00,0.56140,1.0000,-,1,2004
MATO GROSSO DO SUL,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,1,R$/13Kg,1.097,0.000,0.960,1.099,0.035,0.000,0.813,0.00,0.44800,0.8359,-,1,2004
MINAS GERAIS,2004-05-09,2004-05-15,SUDESTE,ETANOL HIDRATADO,1,R$/13Kg,1.110,0.000,0.880,1.180,0.112,0.000,0.711,0.00,0.37970,0.8742,-,1,2004
PARA,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,1,R$/13Kg,1.476,0.000,1.230,1.598,0.081,0.000,1.228,0.00,0.60990,1.2283,-,1,2004
PARAIBA,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1,R$/13Kg,1.149,0.000,1.090,1.149,0.115,0.000,0.775,0.00,0.67160,0.9071,-,1,2004
PARANA,2004-05-09,2004-05-15,SUL,ETANOL HIDRATADO,1,R$/13Kg,0.922,0.000,0.730,1.199,0.025,0.000,0.667,0.00,0.43000,0.7044,-,1,2004
PERNAMBUCO,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1,R$/13Kg,0.999,0.000,0.989,0.999,0.124,0.000,0.586,0.00,0.36320,0.7749,-,1,2004
PIAUI,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1,R$/13Kg,1.339,0.000,1.270,1.339,0.064,0.000,1.079,0.00,0.81220,1.2499,-,1,2004
RIO DE JANEIRO,2004-05-09,2004-05-15,SUDESTE,ETANOL HIDRATADO,4,R$/13Kg,1.036,0.024,0.659,1.149,0.140,0.022,0.599,0.02,0.32570,0.8070,-,1,2004
RIO GRANDE DO NORTE,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,2,R$/13Kg,0.975,0.000,0.790,1.100,0.116,0.000,0.701,0.00,0.54620,0.7710,-,1,2004
RIO GRANDE DO SUL,2004-05-09,2004-05-15,SUL,ETANOL HIDRATADO,3,R$/13Kg,1.168,0.001,0.880,1.288,0.036,0.001,0.768,0.00,0.55000,0.7677,-,1,2004
RONDONIA,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,1,R$/13Kg,1.219,0.000,1.050,1.219,0.022,0.000,1.006,0.00,0.52000,1.2219,-,1,2004
RORAIMA,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,1,R$/13Kg,1.300,0.000,1.300,1.300,0.104,0.000,1.098,0.00,0.97980,1.2022,-,1,2004
SANTA CATARINA,2004-05-09,2004-05-15,SUL,ETANOL HIDRATADO,5,R$/13Kg,1.197,0.000,0.999,1.199,0.069,0.000,0.813,0.00,0.55680,0.9780,-,1,2004
SAO PAULO,2004-05-09,2004-05-15,SUDESTE,ETANOL HIDRATADO,13,R$/13Kg,0.766,0.050,0.590,1.099,0.135,0.024,0.570,0.00,0.33980,0.8220,-,1,2004
SERGIPE,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1,R$/13Kg,1.155,0.000,1.050,1.169,0.098,0.000,0.781,0.00,0.51800,0.8839,-,1,2004
TOCANTINS,2004-05-09,2004-05-15,NORTE,ETANOL HIDRATADO,1,R$/13Kg,1.226,0.000,1.050,1.430,0.091,0.000,0.674,0.00,0.51022,0.9612,-,1,2004

In [ ]:
##Agrupamento por grupo e subgrupo
##Vamos considerar que existam grupos e subgrupos, como os de regioes e estados

regiao= df_pre.groupby('REGIÃO')
regiao['ESTADO'].describe()

              count unique                 top  freq
REGIÃO
CENTRO OESTE  15429      4  MATO GROSSO DO SUL  4246
NORDESTE      36869      9               BAHIA  4263
NORTE         24702      7            AMAZONAS  3889
SUDESTE       17047      4      RIO DE JANEIRO  4263
SUL           12776      3   RIO GRANDE DO SUL  4263

In [ ]:
##Para realizar tal agrupamento de forma util
##faremos em grupo e subgrupo, regiao produto

grupos= df_pre.groupby(['REGIÃO','PRODUTO'])
grupos.groups

{('CENTRO OESTE', 'ETANOL HIDRATADO'): [0, 1, 2, 3, 27, 28, 29, 30, 54, 55, 56, 57, 81, 82, 83, 84, 108, 109, 110, 111, 135, 136, 137, 138, 162, 163, 164, 165, 189, 190, 191, 192, 216, 217, 218, 219, 243, 244, 245, 246, 270, 271, 272, 273, 297, 298, 299, 300, 324, 325, 326, 327, 351, 352, 353, 354, 378, 379, 380, 381, 405, 406, 407, 408, 432, 433, 434, 435, 459, 460, 461, 462, 486, 487, 488, 489, 513, 514, 515, 516, 540, 541, 542, 543, 567, 568, 569, 570, 594, 595, 596, 597, 621, 622, 623, 624, 648, 649, 650, 651, ...], ('CENTRO OESTE', 'GASOLINA COMUM'): [12064, 12065, 12066, 12067, 12091, 12092, 12093, 12094, 12118, 12119, 12120, 12121, 12145, 12146, 12147, 12148, 12172, 12173, 12174, 12175, 12199, 12200, 12201, 12202, 12226, 12227, 12228, 12229, 12253, 12254, 12255, 12256, 12280, 12281, 12282, 12283, 12307, 12308, 12309, 12310, 12334, 12335, 12336, 12337, 12361, 12362, 12363, 12364, 12388, 12389, 12390, 12391, 12415, 12416, 12417, 12418, 12442, 12443, 12444, 12445, 12469, 12470, 12471, 12472, 12496, 12497, 12498, 12499, 12523, 12524, 12525, 12526, 12550, 12551, 12552, 12553, 12577, 12578, 12579, 12580, 12604, 12605, 12606, 12607, 12631, 12632, 12633, 12634, 12658, 12659, 12660, 12661, 12685, 12686, 12687, 12688, 12712, 12713, 12714, 12715, ...], ('CENTRO OESTE', 'GLP'): [24132, 24133, 24134, 24135, 24159, 24160, 24161, 24162, 24186, 24187, 24188, 24189, 24213, 24214, 24215, 24216, 24240, 24241, 24242, 24243, 24267, 24268, 24269, 24270, 24294, 24295, 24296, 24297, 24321, 24322, 24323, 24324, 24348, 24349, 24350, 24351, 24375, 24376, 24377, 24378, 24402, 24403, 24404, 24405, 24429, 24430, 24431, 24432, 24456, 24457, 24458, 24459, 24483, 24484, 24485, 24486, 24510, 24511, 24512, 24513, 24537, 24538, 24539, 24540, 24564, 24565, 24566, 24567, 24591, 24592, 24593, 24594, 24618, 24619, 24620, 24621, 24645, 24646, 24647, 24648, 24672, 24673, 24674, 24675, 24699, 24700, 24701, 24702, 24726, 24727, 24728, 24729, 24753, 24754, 24755, 24756, 24780, 24781, 24782, 24783, ...], ('CENTRO OESTE', 'GNV'): [36196, 36211, 36226, 36241, 36256, 36271, 36286, 36301, 36316, 36331, 36346, 36361, 36377, 36393, 36409, 36425, 36441, 36457, 36473, 36489, 36505, 36521, 36537, 36553, 36569, 36585, 36601, 36617, 36633, 36649, 36665, 36681, 36697, 36713, 36729, 36745, 36761, 36777, 36793, 36809, 36825, 36841, 36857, 36873, 36889, 36905, 36921, 36937, 36953, 36969, 36985, 37001, 37017, 37033, 37049, 37065, 37081, 37097, 37113, 37129, 37145, 37161, 37177, 37193, 37209, 37225, 37242, 37257, 37258, 37274, 37290, 37307, 37322, 37338, 37353, 37368, 37383, 37399, 37415, 37430, 37446, 37462, 37478, 37494, 37510, 37526, 37542, 37558, 37574, 37590, 37606, 37621, 37637, 37653, 37669, 37686, 37702, 37718, 37734, 37750, ...], ('CENTRO OESTE', 'ÓLEO DIESEL'): [43547, 43548, 43549, 43550, 43574, 43575, 43576, 43577, 43601, 43602, 43603, 43604, 43628, 43629, 43630, 43631, 43655, 43656, 43657, 43658, 43682, 43683, 43684, 43685, 43709, 43710, 43711, 43712, 43736, 43737, 43738, 43739, 43763, 43764, 43765, 43766, 43790, 43791, 43792, 43793, 43817, 43818, 43819, 43820, 43844, 43845, 43846, 43847, 43871, 43872, 43873, 43874, 43898, 43899, 43900, 43901, 43925, 43926, 43927, 43928, 43952, 43953, 43954, 43955, 43979, 43980, 43981, 43982, 44006, 44007, 44008, 44009, 44033, 44034, 44035, 44036, 44060, 44061, 44062, 44063, 44087, 44088, 44089, 44090, 44114, 44115, 44116, 44117, 44141, 44142, 44143, 44144, 44168, 44169, 44170, 44171, 44195, 44196, 44197, 44198, ...], ('CENTRO OESTE', 'ÓLEO DIESEL S10'): [55672, 55674, 55819, 55821, 55822, 55967, 55969, 55971, 55972, 56119, 56121, 56123, 56124, 56272, 56274, 56276, 56277, 56425, 56427, 56429, 56430, 56577, 56579, 56581, 56582, 56729, 56731, 56733, 56734, 56882, 56884, 56886, 56887, 57035, 57037, 57039, 57040, 57187, 57189, 57191, 57192, 57339, 57341, 57343, 57344, 57490, 57492, 57494, 57495, 57642, 57644, 57646, 57647, 57795, 57797, 57799, 57800, 57947, 57949, 57951, 57952, 58099, 58101, 58103, 58104, 58251, 58253, 58255, 58256, 58402, 58404, 58406, 58407, 58554, 58556, 58558, 58559, 58706, 58708, 58710, 58711, 58858, 58860, 58862, 58863, 59011, 59013, 59015, 59016, 59163, 59165, 59167, 59168, 59315, 59317, 59319, 59320, 59468, 59470, 59472, ...], ('NORDESTE', 'ETANOL HIDRATADO'): [4, 5, 6, 7, 8, 9, 10, 11, 12, 31, 32, 33, 34, 35, 36, 37, 38, 39, 58, 59, 60, 61, 62, 63, 64, 65, 66, 85, 86, 87, 88, 89, 90, 91, 92, 93, 112, 113, 114, 115, 116, 117, 118, 119, 120, 139, 140, 141, 142, 143, 144, 145, 146, 147, 166, 167, 168, 169, 170, 171, 172, 173, 174, 193, 194, 195, 196, 197, 198, 199, 200, 201, 220, 221, 222, 223, 224, 225, 226, 227, 228, 247, 248, 249, 250, 251, 252, 253, 254, 255, 274, 275, 276, 277, 278, 279, 280, 281, 282, 301, ...], ('NORDESTE', 'GASOLINA COMUM'): [12068, 12069, 12070, 12071, 12072, 12073, 12074, 12075, 12076, 12095, 12096, 12097, 12098, 12099, 12100, 12101, 12102, 12103, 12122, 12123, 12124, 12125, 12126, 12127, 12128, 12129, 12130, 12149, 12150, 12151, 12152, 12153, 12154, 12155, 12156, 12157, 12176, 12177, 12178, 12179, 12180, 12181, 12182, 12183, 12184, 12203, 12204, 12205, 12206, 12207, 12208, 12209, 12210, 12211, 12230, 12231, 12232, 12233, 12234, 12235, 12236, 12237, 12238, 12257, 12258, 12259, 12260, 12261, 12262, 12263, 12264, 12265, 12284, 12285, 12286, 12287, 12288, 12289, 12290, 12291, 12292, 12311, 12312, 12313, 12314, 12315, 12316, 12317, 12318, 12319, 12338, 12339, 12340, 12341, 12342, 12343, 12344, 12345, 12346, 12365, ...], ('NORDESTE', 'GLP'): [24136, 24137, 24138, 24139, 24140, 24141, 24142, 24143, 24144, 24163, 24164, 24165, 24166, 24167, 24168, 24169, 24170, 24171, 24190, 24191, 24192, 24193, 24194, 24195, 24196, 24197, 24198, 24217, 24218, 24219, 24220, 24221, 24222, 24223, 24224, 24225, 24244, 24245, 24246, 24247, 24248, 24249, 24250, 24251, 24252, 24271, 24272, 24273, 24274, 24275, 24276, 24277, 24278, 24279, 24298, 24299, 24300, 24301, 24302, 24303, 24304, 24305, 24306, 24325, 24326, 24327, 24328, 24329, 24330, 24331, 24332, 24333, 24352, 24353, 24354, 24355, 24356, 24357, 24358, 24359, 24360, 24379, 24380, 24381, 24382, 24383, 24384, 24385, 24386, 24387, 24406, 24407, 24408, 24409, 24410, 24411, 24412, 24413, 24414, 24433, ...], ('NORDESTE', 'GNV'): [36197, 36198, 36199, 36200, 36201, 36202, 36203, 36212, 36213, 36214, 36215, 36216, 36217, 36218, 36227, 36228, 36229, 36230, 36231, 36232, 36233, 36242, 36243, 36244, 36245, 36246, 36247, 36248, 36257, 36258, 36259, 36260, 36261, 36262, 36263, 36272, 36273, 36274, 36275, 36276, 36277, 36278, 36287, 36288, 36289, 36290, 36291, 36292, 36293, 36302, 36303, 36304, 36305, 36306, 36307, 36308, 36317, 36318, 36319, 36320, 36321, 36322, 36323, 36332, 36333, 36334, 36335, 36336, 36337, 36338, 36347, 36348, 36349, 36350, 36351, 36352, 36353, 36362, 36363, 36364, 36365, 36366, 36367, 36368, 36369, 36378, 36379, 36380, 36381, 36382, 36383, 36384, 36385, 36394, 36395, 36396, 36397, 36398, 36399, 36400, ...], ('NORDESTE', 'ÓLEO DIESEL'): [43551, 43552, 43553, 43554, 43555, 43556, 43557, 43558, 43559, 43578, 43579, 43580, 43581, 43582, 43583, 43584, 43585, 43586, 43605, 43606, 43607, 43608, 43609, 43610, 43611, 43612, 43613, 43632, 43633, 43634, 43635, 43636, 43637, 43638, 43639, 43640, 43659, 43660, 43661, 43662, 43663, 43664, 43665, 43666, 43667, 43686, 43687, 43688, 43689, 43690, 43691, 43692, 43693, 43694, 43713, 43714, 43715, 43716, 43717, 43718, 43719, 43720, 43721, 43740, 43741, 43742, 43743, 43744, 43745, 43746, 43747, 43748, 43767, 43768, 43769, 43770, 43771, 43772, 43773, 43774, 43775, 43794, 43795, 43796, 43797, 43798, 43799, 43800, 43801, 43802, 43821, 43822, 43823, 43824, 43825, 43826, 43827, 43828, 43829, 43848, ...], ('NORDESTE', 'ÓLEO DIESEL S10'): [55669, 55670, 55673, 55677, 55679, 55685, 55814, 55816, 55817, 55820, 55825, 55827, 55828, 55830, 55835, 55962, 55965, 55966, 55970, 55975, 55977, 55978, 55980, 55986, 56114, 56117, 56118, 56122, 56127, 56129, 56130, 56132, 56138, 56267, 56270, 56271, 56275, 56280, 56282, 56283, 56285, 56291, 56420, 56423, 56424, 56428, 56433, 56435, 56436, 56438, 56444, 56572, 56575, 56576, 56580, 56585, 56587, 56588, 56590, 56596, 56724, 56727, 56728, 56732, 56737, 56739, 56740, 56742, 56748, 56877, 56880, 56881, 56885, 56890, 56892, 56893, 56895, 56901, 57030, 57033, 57034, 57038, 57043, 57045, 57046, 57048, 57054, 57182, 57185, 57186, 57190, 57195, 57197, 57198, 57200, 57206, 57334, 57337, 57338, 57342, ...], ('NORTE', 'ETANOL HIDRATADO'): [13, 14, 15, 16, 17, 18, 19, 40, 41, 42, 43, 44, 45, 46, 67, 68, 69, 70, 71, 72, 73, 94, 95, 96, 97, 98, 99, 100, 121, 122, 123, 124, 125, 126, 127, 148, 149, 150, 151, 152, 153, 154, 175, 176, 177, 178, 179, 180, 181, 202, 203, 204, 205, 206, 207, 208, 229, 230, 231, 232, 233, 234, 235, 256, 257, 258, 259, 260, 261, 262, 283, 284, 285, 286, 287, 288, 289, 310, 311, 312, 313, 314, 315, 316, 337, 338, 339, 340, 341, 342, 343, 364, 365, 366, 367, 368, 369, 370, 391, 392, ...], ('NORTE', 'GASOLINA COMUM'): [12077, 12078, 12079, 12080, 12081, 12082, 12083, 12104, 12105, 12106, 12107, 12108, 12109, 12110, 12131, 12132, 12133, 12134, 12135, 12136, 12137, 12158, 12159, 12160, 12161, 12162, 12163, 12164, 12185, 12186, 12187, 12188, 12189, 12190, 12191, 12212, 12213, 12214, 12215, 12216, 12217, 12218, 12239, 12240, 12241, 12242, 12243, 12244, 12245, 12266, 12267, 12268, 12269, 12270, 12271, 12272, 12293, 12294, 12295, 12296, 12297, 12298, 12299, 12320, 12321, 12322, 12323, 12324, 12325, 12326, 12347, 12348, 12349, 12350, 12351, 12352, 12353, 12374, 12375, 12376, 12377, 12378, 12379, 12380, 12401, 12402, 12403, 12404, 12405, 12406, 12407, 12428, 12429, 12430, 12431, 12432, 12433, 12434, 12455, 12456, ...], ('NORTE', 'GLP'): [24145, 24146, 24147, 24148, 24149, 24150, 24151, 24172, 24173, 24174, 24175, 24176, 24177, 24178, 24199, 24200, 24201, 24202, 24203, 24204, 24205, 24226, 24227, 24228, 24229, 24230, 24231, 24232, 24253, 24254, 24255, 24256, 24257, 24258, 24259, 24280, 24281, 24282, 24283, 24284, 24285, 24286, 24307, 24308, 24309, 24310, 24311, 24312, 24313, 24334, 24335, 24336, 24337, 24338, 24339, 24340, 24361, 24362, 24363, 24364, 24365, 24366, 24367, 24388, 24389, 24390, 24391, 24392, 24393, 24394, 24415, 24416, 24417, 24418, 24419, 24420, 24421, 24442, 24443, 24444, 24445, 24446, 24447, 24448, 24469, 24470, 24471, 24472, 24473, 24474, 24475, 24496, 24497, 24498, 24499, 24500, 24501, 24502, 24523, 24524, ...], ('NORTE', 'GNV'): [37234, 37266, 37299, 37391, 37407, 37438, 37454, 37470, 37486, 37502, 37518, 37534, 37550, 37566, 37582, 37598, 37629, 37645, 37661, 37678, 37694, 37710, 37726, 37742, 37758, 37774, 37790, 37806, 37822, 37838, 37854, 37870, 37887, 37904, 37921, 37938, 37955, 37972, 37989, 38006, 38023, 38040, 38057, 38074, 38091, 38123, 38140, 38156, 38173, 38190, 38207, 38224, 38241, 38258, 38275, 38292, 38309, 38326, 38342, 38359, 38376, 38392, 38409, 38426, 38443, 38460, 38477, 38510, 38559, 38592, 38609, 38626, 38643, 38660, 38693, 38710, 38727, 38760, 38793, 38826, 38859, 38892, 38972, 39021, 39069, 39134, 39183, 39200, 39234, 39251, 39284, 39301, 39334, 39351, 39384, 39401, 39435, 39452, 39486, 39502, ...], ('NORTE', 'ÓLEO DIESEL'): [43560, 43561, 43562, 43563, 43564, 43565, 43566, 43587, 43588, 43589, 43590, 43591, 43592, 43593, 43614, 43615, 43616, 43617, 43618, 43619, 43620, 43641, 43642, 43643, 43644, 43645, 43646, 43647, 43668, 43669, 43670, 43671, 43672, 43673, 43674, 43695, 43696, 43697, 43698, 43699, 43700, 43701, 43722, 43723, 43724, 43725, 43726, 43727, 43728, 43749, 43750, 43751, 43752, 43753, 43754, 43755, 43776, 43777, 43778, 43779, 43780, 43781, 43782, 43803, 43804, 43805, 43806, 43807, 43808, 43809, 43830, 43831, 43832, 43833, 43834, 43835, 43836, 43857, 43858, 43859, 43860, 43861, 43862, 43863, 43884, 43885, 43886, 43887, 43888, 43889, 43890, 43911, 43912, 43913, 43914, 43915, 43916, 43917, 43938, 43939, ...], ('NORTE', 'ÓLEO DIESEL S10'): [55676, 55682, 55686, 55813, 55815, 55824, 55832, 55836, 55963, 55964, 55974, 55982, 55983, 55987, 56113, 56115, 56116, 56126, 56134, 56135, 56139, 56266, 56268, 56269, 56279, 56287, 56288, 56292, 56419, 56421, 56422, 56432, 56440, 56441, 56445, 56571, 56573, 56574, 56584, 56592, 56593, 56597, 56723, 56725, 56726, 56736, 56744, 56745, 56749, 56876, 56878, 56879, 56889, 56897, 56898, 56902, 57029, 57031, 57032, 57042, 57050, 57051, 57055, 57181, 57183, 57184, 57194, 57202, 57203, 57207, 57333, 57335, 57336, 57346, 57354, 57355, 57359, 57484, 57486, 57487, 57497, 57505, 57506, 57510, 57636, 57638, 57639, 57649, 57657, 57658, 57662, 57789, 57791, 57792, 57802, 57810, 57811, 57815, 57941, 57943, ...], ('SUDESTE', 'ETANOL HIDRATADO'): [20, 21, 22, 23, 47, 48, 49, 50, 74, 75, 76, 77, 101, 102, 103, 104, 128, 129, 130, 131, 155, 156, 157, 158, 182, 183, 184, 185, 209, 210, 211, 212, 236, 237, 238, 239, 263, 264, 265, 266, 290, 291, 292, 293, 317, 318, 319, 320, 344, 345, 346, 347, 371, 372, 373, 374, 398, 399, 400, 401, 425, 426, 427, 428, 452, 453, 454, 455, 479, 480, 481, 482, 506, 507, 508, 509, 533, 534, 535, 536, 560, 561, 562, 563, 587, 588, 589, 590, 614, 615, 616, 617, 641, 642, 643, 644, 668, 669, 670, 671, ...], ('SUDESTE', 'GASOLINA COMUM'): [12084, 12085, 12086, 12087, 12111, 12112, 12113, 12114, 12138, 12139, 12140, 12141, 12165, 12166, 12167, 12168, 12192, 12193, 12194, 12195, 12219, 12220, 12221, 12222, 12246, 12247, 12248, 12249, 12273, 12274, 12275, 12276, 12300, 12301, 12302, 12303, 12327, 12328, 12329, 12330, 12354, 12355, 12356, 12357, 12381, 12382, 12383, 12384, 12408, 12409, 12410, 12411, 12435, 12436, 12437, 12438, 12462, 12463, 12464, 12465, 12489, 12490, 12491, 12492, 12516, 12517, 12518, 12519, 12543, 12544, 12545, 12546, 12570, 12571, 12572, 12573, 12597, 12598, 12599, 12600, 12624, 12625, 12626, 12627, 12651, 12652, 12653, 12654, 12678, 12679, 12680, 12681, 12705, 12706, 12707, 12708, 12732, 12733, 12734, 12735, ...], ('SUDESTE', 'GLP'): [24152, 24153, 24154, 24155, 24179, 24180, 24181, 24182, 24206, 24207, 24208, 24209, 24233, 24234, 24235, 24236, 24260, 24261, 24262, 24263, 24287, 24288, 24289, 24290, 24314, 24315, 24316, 24317, 24341, 24342, 24343, 24344, 24368, 24369, 24370, 24371, 24395, 24396, 24397, 24398, 24422, 24423, 24424, 24425, 24449, 24450, 24451, 24452, 24476, 24477, 24478, 24479, 24503, 24504, 24505, 24506, 24530, 24531, 24532, 24533, 24557, 24558, 24559, 24560, 24584, 24585, 24586, 24587, 24611, 24612, 24613, 24614, 24638, 24639, 24640, 24641, 24665, 24666, 24667, 24668, 24692, 24693, 24694, 24695, 24719, 24720, 24721, 24722, 24746, 24747, 24748, 24749, 24773, 24774, 24775, 24776, 24800, 24801, 24802, 24803, ...], ('SUDESTE', 'GNV'): [36204, 36205, 36206, 36207, 36219, 36220, 36221, 36222, 36234, 36235, 36236, 36237, 36249, 36250, 36251, 36252, 36264, 36265, 36266, 36267, 36279, 36280, 36281, 36282, 36294, 36295, 36296, 36297, 36309, 36310, 36311, 36312, 36324, 36325, 36326, 36327, 36339, 36340, 36341, 36342, 36354, 36355, 36356, 36357, 36370, 36371, 36372, 36373, 36386, 36387, 36388, 36389, 36402, 36403, 36404, 36405, 36418, 36419, 36420, 36421, 36434, 36435, 36436, 36437, 36450, 36451, 36452, 36453, 36466, 36467, 36468, 36469, 36482, 36483, 36484, 36485, 36498, 36499, 36500, 36501, 36514, 36515, 36516, 36517, 36530, 36531, 36532, 36533, 36546, 36547, 36548, 36549, 36562, 36563, 36564, 36565, 36578, 36579, 36580, 36581, ...], ('SUDESTE', 'ÓLEO DIESEL'): [43567, 43568, 43569, 43570, 43594, 43595, 43596, 43597, 43621, 43622, 43623, 43624, 43648, 43649, 43650, 43651, 43675, 43676, 43677, 43678, 43702, 43703, 43704, 43705, 43729, 43730, 43731, 43732, 43756, 43757, 43758, 43759, 43783, 43784, 43785, 43786, 43810, 43811, 43812, 43813, 43837, 43838, 43839, 43840, 43864, 43865, 43866, 43867, 43891, 43892, 43893, 43894, 43918, 43919, 43920, 43921, 43945, 43946, 43947, 43948, 43972, 43973, 43974, 43975, 43999, 44000, 44001, 44002, 44026, 44027, 44028, 44029, 44053, 44054, 44055, 44056, 44080, 44081, 44082, 44083, 44107, 44108, 44109, 44110, 44134, 44135, 44136, 44137, 44161, 44162, 44163, 44164, 44188, 44189, 44190, 44191, 44215, 44216, 44217, 44218, ...], ('SUDESTE', 'ÓLEO DIESEL S10'): [55671, 55675, 55680, 55684, 55818, 55823, 55829, 55834, 55968, 55973, 55979, 55985, 56120, 56125, 56131, 56137, 56273, 56278, 56284, 56290, 56426, 56431, 56437, 56443, 56578, 56583, 56589, 56595, 56730, 56735, 56741, 56747, 56883, 56888, 56894, 56900, 57036, 57041, 57047, 57053, 57188, 57193, 57199, 57205, 57340, 57345, 57351, 57357, 57491, 57496, 57502, 57508, 57643, 57648, 57654, 57660, 57796, 57801, 57807, 57813, 57948, 57953, 57959, 57965, 58100, 58105, 58111, 58117, 58252, 58257, 58263, 58269, 58403, 58408, 58414, 58420, 58555, 58560, 58566, 58572, 58707, 58712, 58718, 58724, 58859, 58864, 58870, 58876, 59012, 59017, 59023, 59029, 59164, 59169, 59175, 59181, 59316, 59321, 59327, 59333, ...], ('SUL', 'ETANOL HIDRATADO'): [24, 25, 26, 51, 52, 53, 78, 79, 80, 105, 106, 107, 132, 133, 134, 159, 160, 161, 186, 187, 188, 213, 214, 215, 240, 241, 242, 267, 268, 269, 294, 295, 296, 321, 322, 323, 348, 349, 350, 375, 376, 377, 402, 403, 404, 429, 430, 431, 456, 457, 458, 483, 484, 485, 510, 511, 512, 537, 538, 539, 564, 565, 566, 591, 592, 593, 618, 619, 620, 645, 646, 647, 672, 673, 674, 699, 700, 701, 726, 727, 728, 753, 754, 755, 780, 781, 782, 807, 808, 809, 834, 835, 836, 861, 862, 863, 888, 889, 890, 915, ...], ('SUL', 'GASOLINA COMUM'): [12088, 12089, 12090, 12115, 12116, 12117, 12142, 12143, 12144, 12169, 12170, 12171, 12196, 12197, 12198, 12223, 12224, 12225, 12250, 12251, 12252, 12277, 12278, 12279, 12304, 12305, 12306, 12331, 12332, 12333, 12358, 12359, 12360, 12385, 12386, 12387, 12412, 12413, 12414, 12439, 12440, 12441, 12466, 12467, 12468, 12493, 12494, 12495, 12520, 12521, 12522, 12547, 12548, 12549, 12574, 12575, 12576, 12601, 12602, 12603, 12628, 12629, 12630, 12655, 12656, 12657, 12682, 12683, 12684, 12709, 12710, 12711, 12736, 12737, 12738, 12763, 12764, 12765, 12790, 12791, 12792, 12817, 12818, 12819, 12844, 12845, 12846, 12871, 12872, 12873, 12898, 12899, 12900, 12925, 12926, 12927, 12952, 12953, 12954, 12979, ...], ('SUL', 'GLP'): [24156, 24157, 24158, 24183, 24184, 24185, 24210, 24211, 24212, 24237, 24238, 24239, 24264, 24265, 24266, 24291, 24292, 24293, 24318, 24319, 24320, 24345, 24346, 24347, 24372, 24373, 24374, 24399, 24400, 24401, 24426, 24427, 24428, 24453, 24454, 24455, 24480, 24481, 24482, 24507, 24508, 24509, 24534, 24535, 24536, 24561, 24562, 24563, 24588, 24589, 24590, 24615, 24616, 24617, 24642, 24643, 24644, 24669, 24670, 24671, 24696, 24697, 24698, 24723, 24724, 24725, 24750, 24751, 24752, 24777, 24778, 24779, 24804, 24805, 24806, 24831, 24832, 24833, 24858, 24859, 24860, 24885, 24886, 24887, 24912, 24913, 24914, 24939, 24940, 24941, 24966, 24967, 24968, 24993, 24994, 24995, 25020, 25021, 25022, 25047, ...], ('SUL', 'GNV'): [36208, 36209, 36210, 36223, 36224, 36225, 36238, 36239, 36240, 36253, 36254, 36255, 36268, 36269, 36270, 36283, 36284, 36285, 36298, 36299, 36300, 36313, 36314, 36315, 36328, 36329, 36330, 36343, 36344, 36345, 36358, 36359, 36360, 36374, 36375, 36376, 36390, 36391, 36392, 36406, 36407, 36408, 36422, 36423, 36424, 36438, 36439, 36440, 36454, 36455, 36456, 36470, 36471, 36472, 36486, 36487, 36488, 36502, 36503, 36504, 36518, 36519, 36520, 36534, 36535, 36536, 36550, 36551, 36552, 36566, 36567, 36568, 36582, 36583, 36584, 36598, 36599, 36600, 36614, 36615, 36616, 36630, 36631, 36632, 36646, 36647, 36648, 36662, 36663, 36664, 36678, 36679, 36680, 36694, 36695, 36696, 36710, 36711, 36712, 36726, ...], ('SUL', 'ÓLEO DIESEL'): [43571, 43572, 43573, 43598, 43599, 43600, 43625, 43626, 43627, 43652, 43653, 43654, 43679, 43680, 43681, 43706, 43707, 43708, 43733, 43734, 43735, 43760, 43761, 43762, 43787, 43788, 43789, 43814, 43815, 43816, 43841, 43842, 43843, 43868, 43869, 43870, 43895, 43896, 43897, 43922, 43923, 43924, 43949, 43950, 43951, 43976, 43977, 43978, 44003, 44004, 44005, 44030, 44031, 44032, 44057, 44058, 44059, 44084, 44085, 44086, 44111, 44112, 44113, 44138, 44139, 44140, 44165, 44166, 44167, 44192, 44193, 44194, 44219, 44220, 44

In [ ]:
grupos.mean()

                               NÚMERO DE POSTOS PESQUISADOS  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                    154.982484
             GASOLINA COMUM                      155.204777
             GLP                                 200.619063
             GNV                                   2.880499
             ÓLEO DIESEL                         131.744268
             ÓLEO DIESEL S10                      71.498888
NORDESTE     ETANOL HIDRATADO                    153.857022
             GASOLINA COMUM                      174.003255
             GLP                                 126.175754
             GNV                                  16.719462
             ÓLEO DIESEL                         135.465110
             ÓLEO DIESEL S10                      93.673906
NORTE        ETANOL HIDRATADO                     46.100296
             GASOLINA COMUM                       77.515471
             GLP                                  89.856025
             GNV                                   1.275711
             ÓLEO DIESEL                          67.879505
             ÓLEO DIESEL S10                      39.986011
SUDESTE      ETANOL HIDRATADO                   1037.788217
             GASOLINA COMUM                     1051.909236
             GLP                                 756.676330
             GNV                                  74.804528
             ÓLEO DIESEL                         771.300955
             ÓLEO DIESEL S10                     418.820266
SUL          ETANOL HIDRATADO                    454.700510
             GASOLINA COMUM                      495.765180
             GLP                                 485.472611
             GNV                                  19.042680
             ÓLEO DIESEL                         364.018684
             ÓLEO DIESEL S10                     229.859961

                               PREÇO MÉDIO REVENDA  DESVIO PADRÃO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO             2.135950               0.111622
             GASOLINA COMUM               3.078123               0.103984
             GLP                         48.181149               2.904754
             GNV                          2.004153               0.025300
             ÓLEO DIESEL                  2.481534               0.081501
             ÓLEO DIESEL S10              3.241185               0.100953
NORDESTE     ETANOL HIDRATADO             2.322075               0.115420
             GASOLINA COMUM               3.002337               0.108090
             GLP                         42.221312               2.687344
             GNV                          1.925318               0.060461
             ÓLEO DIESEL                  2.347550               0.069304
             ÓLEO DIESEL S10              3.041957               0.091740
NORTE        ETANOL HIDRATADO             2.530796               0.120423
             GASOLINA COMUM               3.149212               0.140008
             GLP                         47.174539               2.825744
             GNV                          2.000190               0.009245
             ÓLEO DIESEL                  2.569905               0.105580
             ÓLEO DIESEL S10              3.310619               0.127323
SUDESTE      ETANOL HIDRATADO             2.164832               0.134500
             GASOLINA COMUM               3.000565               0.122024
             GLP                         42.077813               3.116207
             GNV                          1.779684               0.130339
             ÓLEO DIESEL                  2.339699               0.082670
             ÓLEO DIESEL S10              3.054425               0.109619
SUL          ETANOL HIDRATADO             2.268864               0.123692
             GASOLINA COMUM               2.973136               0.117797
             GLP                         43.535465               3.417876
             GNV                          1.907944               0.073314
             ÓLEO DIESEL                  2.332862               0.081929
             ÓLEO DIESEL S10              2.981745               0.110322

                               PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO              1.927421              2.432146
             GASOLINA COMUM                2.867660              3.338924
             GLP                          40.957995             55.215088
             GNV                           1.980121              2.025790
             ÓLEO DIESEL                   2.310914              2.686322
             ÓLEO DIESEL S10               3.034001              3.486368
NORDESTE     ETANOL HIDRATADO              2.101505              2.655658
             GASOLINA COMUM                2.780906              3.277833
             GLP                          36.329123             47.837415
             GNV                           1.865387              2.077530
             ÓLEO DIESEL                   2.204314              2.535367
             ÓLEO DIESEL S10               2.851449              3.303555
NORTE        ETANOL HIDRATADO              2.355618              2.857434
             GASOLINA COMUM                2.956985              3.538673
             GLP                          42.299359             54.264647
             GNV                           1.995431              2.009260
             ÓLEO DIESEL                   2.399594              2.829854
             ÓLEO DIESEL S10               3.124608              3.637403
SUDESTE      ETANOL HIDRATADO              1.811892              2.631190
             GASOLINA COMUM                2.698406              3.463277
             GLP                          33.298655             51.311326
             GNV                           1.620741              2.173035
             ÓLEO DIESEL                   2.118881              2.659866
             ÓLEO DIESEL S10               2.764236              3.455381
SUL          ETANOL HIDRATADO              1.947870              2.673207
             GASOLINA COMUM                2.678423              3.340955
             GLP                          34.981443             53.414662
             GNV                           1.823597              2.097937
             ÓLEO DIESEL                   2.125472              2.611837
             ÓLEO DIESEL S10               2.707422              3.366178

                               MARGEM MÉDIA REVENDA  COEF DE VARIAÇÃO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO              0.334742                  0.055482
             GASOLINA COMUM                0.413081                  0.033592
             GLP                          10.144382                  0.057588
             GNV                           0.467869                  0.012368
             ÓLEO DIESEL                   0.269293                  0.032104
             ÓLEO DIESEL S10               0.375726                  0.030342
NORDESTE     ETANOL HIDRATADO              0.300006                  0.052014
             GASOLINA COMUM                0.400337                  0.036350
             GLP                           9.951840                  0.060799
             GNV                           0.517594                  0.031211
             ÓLEO DIESEL                   0.233981                  0.029399
             ÓLEO DIESEL S10               0.326030                  0.030019
NORTE        ETANOL HIDRATADO              0.362131                  0.049130
             GASOLINA COMUM                0.454351                  0.045072
             GLP                           8.660637                  0.059644
             GNV                           0.371848                  0.004575
             ÓLEO DIESEL                   0.323795                  0.041250
             ÓLEO DIESEL S10               0.417151                  0.038558
SUDESTE      ETANOL HIDRATADO              0.300850                  0.064103
             GASOLINA COMUM                0.361858                  0.041105
             GLP                          10.952603                  0.070811
             GNV                           0.478567                  0.073378
             ÓLEO DIESEL                   0.261930                  0.034798
             ÓLEO DIESEL S10               0.362285                  0.035362
SUL          ETANOL HIDRATADO              0.316748                  0.055959
             GASOLINA COMUM                0.371459                  0.039307
             GLP                          10.484570                  0.075282
             GNV                           0.478205                  0.036284
             ÓLEO DIESEL                   0.276743                  0.034150
             ÓLEO DIESEL S10               0.368439                  0.036429

                               PREÇO MÉDIO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                  1.800927
             GASOLINA COMUM                    2.664395
             GLP                              38.032365
             GNV                               1.388876
             ÓLEO DIESEL                       2.211993
             ÓLEO DIESEL S10                   2.919026
NORDESTE     ETANOL HIDRATADO                  2.020260
             GASOLINA COMUM                    2.601550
             GLP                              32.019454
             GNV                               1.364711
             ÓLEO DIESEL                       2.112969
             ÓLEO DIESEL S10                   2.715936
NORTE        ETANOL HIDRATADO                  2.149589
             GASOLINA COMUM                    2.695151
             GLP                              38.404935
             GNV                               1.713959
             ÓLEO DIESEL                       2.247253
             ÓLEO DIESEL S10                   2.899079
SUDESTE      ETANOL HIDRATADO                  1.862771
             GASOLINA COMUM                    2.638708
             GLP                              31.128941
             GNV                               1.242011
             ÓLEO DIESEL                       2.077769
             ÓLEO DIESEL S10                   2.693909
SUL          ETANOL HIDRATADO                  1.951408
             GASOLINA COMUM                    2.601110
             GLP                              33.005748
             GNV                               1.388729
             ÓLEO DIESEL                       2.055550
             ÓLEO DIESEL S10                   2.613336

                               DESVIO PADRÃO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                    0.082278
             GASOLINA COMUM                      0.057165
             GLP                                 3.024617
             GNV                                 0.020842
             ÓLEO DIESEL                         0.049874
             ÓLEO DIESEL S10                     0.073233
NORDESTE     ETANOL HIDRATADO                    0.090895
             GASOLINA COMUM                      0.056139
             GLP                                 2.529375
             GNV                                 0.119529
             ÓLEO DIESEL                         0.048033
             ÓLEO DIESEL S10                     0.065408
NORTE        ETANOL HIDRATADO                    0.094039
             GASOLINA COMUM                      0.067774
             GLP                                 1.734085
             GNV                                 0.012906
             ÓLEO DIESEL                         0.060785
             ÓLEO DIESEL S10                     0.082405
SUDESTE      ETANOL HIDRATADO                    0.107642
             GASOLINA COMUM                      0.066199
             GLP                                 2.741245
             GNV                                 0.136643
             ÓLEO DIESEL                         0.051781
             ÓLEO DIESEL S10                     0.078823
SUL          ETANOL HIDRATADO                    0.112108
             GASOLINA COMUM                      0.064611
             GLP                                 3.461267
             GNV                                 0.113669
             ÓLEO DIESEL                         0.053771
             ÓLEO DIESEL S10                     0.081475

                               PREÇO MÍNIMO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                   1.629448
             GASOLINA COMUM                     2.553451
             GLP                               32.142998
             GNV                                1.370799
             ÓLEO DIESEL                        2.106889
             ÓLEO DIESEL S10                    2.779236
NORDESTE     ETANOL HIDRATADO                   1.799990
             GASOLINA COMUM                     2.487578
             GLP                               27.497191
             GNV                                1.216171
             ÓLEO DIESEL                        2.017312
             ÓLEO DIESEL S10                    2.594516
NORTE        ETANOL HIDRATADO                   1.983436
             GASOLINA COMUM                     2.582237
             GLP                               34.773738
             GNV                                1.705661
             ÓLEO DIESEL                        2.135717
             ÓLEO DIESEL S10                    2.764806
SUDESTE      ETANOL HIDRATADO                   1.540547
             GASOLINA COMUM                     2.438181
             GLP                               24.089119
             GNV                                1.059465
             ÓLEO DIESEL                        1.931599
             ÓLEO DIESEL S10                    2.489478
SUL          ETANOL HIDRATADO                   1.634512
             GASOLINA COMUM                     2.432431
             GLP                               25.791680
             GNV                                1.234443
             ÓLEO DIESEL                        1.926497
             ÓLEO DIESEL S10                    2.438362

                               PREÇO MÁXIMO DISTRIBUIÇÃO       MÊS  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                   2.009326  6.500637
             GASOLINA COMUM                     2.824949  6.500637
             GLP                               43.451689  6.500478
             GNV                                1.407855  6.456336
             ÓLEO DIESEL                        2.323683  6.500637
             ÓLEO DIESEL S10                    3.040020  6.318013
NORDESTE     ETANOL HIDRATADO                   2.229782  6.500849
             GASOLINA COMUM                     2.764345  6.500637
             GLP                               36.718725  6.500354
             GNV                                1.522804  6.496502
             ÓLEO DIESEL                        2.223088  6.500637
             ÓLEO DIESEL S10                    2.865362  6.316881
NORTE        ETANOL HIDRATADO                   2.320255  6.499445
             GASOLINA COMUM                     2.851914  6.500000
             GLP                               41.960261  6.500000
             GNV                                1.725822  6.516411
             ÓLEO DIESEL                        2.366200  6.500000
             ÓLEO DIESEL S10                    3.047200  6.319627
SUDESTE      ETANOL HIDRATADO                   2.179384  6.500637
             GASOLINA COMUM                     2.882938  6.500637
             GLP                               39.873958  6.500159
             GNV                                1.490784  6.497130
             ÓLEO DIESEL                        2.256056  6.500637
             ÓLEO DIESEL S10                    2.924680  6.322485
SUL          ETANOL HIDRATADO                   2.240606  6.501274
             GASOLINA COMUM                     2.826101  6.500637
             GLP                               42.029554  6.500637
             GNV                                1.513414  6.495945
             ÓLEO DIESEL                        2.207007  6.500637
             ÓLEO DIESEL S10                    2.814347  6.322485

                                       ANO
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO  2011.433121
             GASOLINA COMUM    2011.433121
             GLP               2011.430985
             GNV               2011.953381
             ÓLEO DIESEL       2011.433121
             ÓLEO DIESEL S10   2015.762046
NORDESTE     ETANOL HIDRATADO  2011.432191
             GASOLINA COMUM    2011.433121
             GLP               2011.433083
             GNV               2011.355516
             ÓLEO DIESEL       2011.433121
             ÓLEO DIESEL S10   2015.758144
NORTE        ETANOL HIDRATADO  2011.346040
             GASOLINA COMUM    2011.434292
             GLP               2011.434292
             GNV               2011.652079
             ÓLEO DIESEL       2011.434292
             ÓLEO DIESEL S10   2015.764307
SUDESTE      ETANOL HIDRATADO  2011.433121
             GASOLINA COMUM    2011.433121
             GLP               2011.433896
             GNV               2011.432079
             ÓLEO DIESEL       2011.433121
             ÓLEO DIESEL S10   2015.754438
SUL          ETANOL HIDRATADO  2011.430331
             GASOLINA COMUM    2011.433121
             GLP               2011.433121
             GNV               2011.442168
             ÓLEO DIESEL       2011.433121
             ÓLEO DIESEL S10   2015.754438

In [ ]:
grupos['PREÇO MÉDIO REVENDA'].describe()

                                count       mean        std     min       25%  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO  3140.0   2.135950   0.561154   1.162   1.71600
             GASOLINA COMUM    3140.0   3.078123   0.616315   1.936   2.66800
             GLP               3137.0  48.181149  15.189152  28.791  37.34000
             GNV               1523.0   2.004153   0.457802   1.097   1.59900
             ÓLEO DIESEL       3140.0   2.481534   0.627607   1.435   2.03300
             ÓLEO DIESEL S10   1349.0   3.241185   0.433797   2.212   2.82000
NORDESTE     ETANOL HIDRATADO  7064.0   2.322075   0.605121   1.181   1.82500
             GASOLINA COMUM    7065.0   3.002337   0.641163   1.949   2.58400
             GLP               7061.0  42.221312  11.654978  28.367  33.59800
             GNV               5575.0   1.925318   0.555183   0.975   1.60300
             ÓLEO DIESEL       7065.0   2.347550   0.606381   1.313   1.90000
             ÓLEO DIESEL S10   3039.0   3.041957   0.442555   2.130   2.60000
NORTE        ETANOL HIDRATADO  5404.0   2.530796   0.655421   1.226   2.04600
             GASOLINA COMUM    5494.0   3.149212   0.640964   1.995   2.70525
             GLP               5494.0  47.174539  14.477296  28.086  36.50925
             GNV                457.0   2.000190   0.602366   1.219   1.39900
             ÓLEO DIESEL       5494.0   2.569905   0.650350   1.450   2.08800
             ÓLEO DIESEL S10   2359.0   3.310619   0.533966   2.172   2.87800
SUDESTE      ETANOL HIDRATADO  3140.0   2.164832   0.652355   0.766   1.69275
             GASOLINA COMUM    3140.0   3.000565   0.698573   1.888   2.50200
             GLP               3139.0  42.077813  11.522013  28.026  33.63850
             GNV               3136.0   1.779684   0.507284   0.996   1.47300
             ÓLEO DIESEL       3140.0   2.339699   0.588641   1.356   1.87600
             ÓLEO DIESEL S10   1352.0   3.054425   0.419618   2.180   2.64700
SUL          ETANOL HIDRATADO  2354.0   2.268864   0.703567   0.922   1.72100
             GASOLINA COMUM    2355.0   2.973136   0.624032   1.961   2.54300
             GLP               2355.0  43.535465  11.628193  29.440  34.82450
             GNV               2343.0   1.907944   0.500694   1.168   1.51200
             ÓLEO DIESEL       2355.0   2.332862   0.528454   1.374   1.95100
             ÓLEO DIESEL S10   1014.0   2.981745   0.366952   2.140   2.66300

                                   50%       75%     max
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO   2.0010   2.47900   3.999
             GASOLINA COMUM     2.8560   3.46025   4.963
             GLP               42.8570  55.90500  99.357
             GNV                1.9550   2.35250   3.890
             ÓLEO DIESEL        2.2455   3.01900   4.162
             ÓLEO DIESEL S10    3.2640   3.58400   4.200
NORDESTE     ETANOL HIDRATADO   2.1880   2.67550   3.927
             GASOLINA COMUM     2.7420   3.42500   4.951
             GLP               37.5750  48.18300  79.630
             GNV                1.8210   2.16850   3.811
             ÓLEO DIESEL        2.0820   2.87300   4.114
             ÓLEO DIESEL S10    3.0870   3.33800   4.069
NORTE        ETANOL HIDRATADO   2.3430   2.93525   4.459
             GASOLINA COMUM     2.9320   3.57975   5.362
             GLP               42.4535  54.63575  87.270
             GNV                1.8500   2.30000   4.020
             ÓLEO DIESEL        2.3340   3.08000   4.774
             ÓLEO DIESEL S10    3.3070   3.65300   4.878
SUDESTE      ETANOL HIDRATADO   2.0435   2.57200   4.115
             GASOLINA COMUM     2.7930   3.45150   5.119
             GLP               38.2660  49.25100  79.192
             GNV                1.6940   2.00300   3.594
             ÓLEO DIESEL        2.0825   2.82500   3.994
             ÓLEO DIESEL S10    3.0900   3.38600   4.080
SUL          ETANOL HIDRATADO   2.1140   2.60325   4.287
             GASOLINA COMUM     2.7320   3.34350   4.953
             GLP               40.0470  51.41250  72.088
             GNV                1.8000   2.19250   3.499
             ÓLEO DIESEL        2.0900   2.78550   3.800
             ÓLEO DIESEL S10    2.9910   3.25400   3.815

In [ ]:
#Método agg: Agregar a aplicação de funções

#Para um DataFrame
df_pre.agg([sum, min, max])

#Vai demorar!!!

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
sum,NaT,NaT,CENTRO OESTECENTRO OESTECENTRO OESTECENTRO OES...,DISTRITO FEDERALGOIASMATO GROSSOMATO GROSSO DO...,ETANOL HIDRATADOETANOL HIDRATADOETANOL HIDRATA...,24972117,R$/lR$/lR$/lR$/lR$/lR$/lR$/lR$/lR$/lR$/lR$/lR$...,1161249.378,70206.958,1005849.393,1.339318e+06,230062.774,4851.665,885090.526,57855.261,766741.03991,1.013951e+06,0.1330.1150.0980.1430.0820.1340.0620.0820.0770...,692641,214906754
min,2004-05-09,2004-05-15,CENTRO OESTE,ACRE,ETANOL HIDRATADO,1,R$/13Kg,0.766,0.000,0.590,9.990000e-01,0.001,0.000,0.506,0.000,0.32570,5.992000e-01,-,1,2004
max,2019-06-23,2019-06-29,SUL,TOCANTINS,ÓLEO DIESEL S10,4167,R$/m3,99.357,10.748,90.000,1.200000e+02,36.847,0.395,83.137,18.385,83.00000,9.450000e+01,0.78,12,2019

In [ ]:
#Para um agrupamento
#Pode nao fazer sentido para algumas colunas tipo str
df_pre.groupby('PREÇO MÉDIO REVENDA').agg([min,max])

                    DATA INICIAL            DATA FINAL             \
                             min        max        min        max
PREÇO MÉDIO REVENDA
0.766                 2004-05-16 2004-05-16 2004-05-22 2004-05-22
0.768                 2004-05-09 2004-05-09 2004-05-15 2004-05-15
0.823                 2004-05-23 2004-05-23 2004-05-29 2004-05-29
0.887                 2004-05-30 2004-05-30 2004-06-05 2004-06-05
0.894                 2004-06-06 2004-06-06 2004-06-12 2004-06-12
...                          ...        ...        ...        ...
98.149                2018-10-07 2018-10-07 2018-10-13 2018-10-13
98.459                2019-05-19 2019-05-19 2019-05-25 2019-05-25
98.497                2018-12-02 2018-12-02 2018-12-08 2018-12-08
99.100                2018-11-18 2018-11-18 2018-11-24 2018-11-24
99.357                2018-12-30 2018-12-30 2019-01-05 2019-01-05

                           REGIÃO                     ESTADO               \
                              min           max          min          max
PREÇO MÉDIO REVENDA
0.766                     SUDESTE       SUDESTE    SAO PAULO    SAO PAULO
0.768                     SUDESTE       SUDESTE    SAO PAULO    SAO PAULO
0.823                     SUDESTE       SUDESTE    SAO PAULO    SAO PAULO
0.887                     SUDESTE       SUDESTE    SAO PAULO    SAO PAULO
0.894                     SUDESTE       SUDESTE    SAO PAULO    SAO PAULO
...                           ...           ...          ...          ...
98.149               CENTRO OESTE  CENTRO OESTE  MATO GROSSO  MATO GROSSO
98.459               CENTRO OESTE  CENTRO OESTE  MATO GROSSO  MATO GROSSO
98.497               CENTRO OESTE  CENTRO OESTE  MATO GROSSO  MATO GROSSO
99.100               CENTRO OESTE  CENTRO OESTE  MATO GROSSO  MATO GROSSO
99.357               CENTRO OESTE  CENTRO OESTE  MATO GROSSO  MATO GROSSO

                              PRODUTO                    ...  \
                                  min               max  ...
PREÇO MÉDIO REVENDA                                      ...
0.766                ETANOL HIDRATADO  ETANOL HIDRATADO  ...
0.768                ETANOL HIDRATADO  ETANOL HIDRATADO  ...
0.823                ETANOL HIDRATADO  ETANOL HIDRATADO  ...
0.887                ETANOL HIDRATADO  ETANOL HIDRATADO  ...
0.894                ETANOL HIDRATADO  ETANOL HIDRATADO  ...
...                               ...               ...  ...
98.149                            GLP               GLP  ...
98.459                            GLP               GLP  ...
98.497                            GLP               GLP  ...
99.100                            GLP               GLP  ...
99.357                            GLP               GLP  ...

                    PREÇO MÍNIMO DISTRIBUIÇÃO            \
                                          min       max
PREÇO MÉDIO REVENDA
0.766                                 0.43204   0.43204
0.768                                 0.42710   0.42710
0.823                                 0.34951   0.34951
0.887                                 0.33980   0.33980
0.894                                 0.47797   0.47797
...                                       ...       ...
98.149                               57.35000  57.35000
98.459                               61.15000  61.15000
98.497                               51.97000  51.97000
99.100                               59.00000  59.00000
99.357                               68.50000  68.50000

                    PREÇO MÁXIMO DISTRIBUIÇÃO           \
                                          min      max
PREÇO MÉDIO REVENDA
0.766                                  0.9724   0.9724
0.768                                  1.4123   1.4123
0.823                                  1.4120   1.4120
0.887                                  1.0669   1.0669
0.894                                  1.0669   1.0669
...                                       ...      ...
98.149                                85.0000  85.0000
98.459                                90.0000  90.0000
98.497                                86.3000  86.3000
99.100                                86.0000  86.0000
99.357                                85.0000  85.0000

                    COEF DE VARIAÇÃO DISTRIBUIÇÃO        MÊS       ANO
                                              min    max min max   min   max
PREÇO MÉDIO REVENDA
0.766                                       0.087  0.087   5   5  2004  2004
0.768                                       0.098  0.098   5   5  2004  2004
0.823                                       0.103  0.103   5   5  2004  2004
0.887                                       0.112  0.112   5   5  2004  2004
0.894                                       0.104  0.104   6   6  2004  2004
...                                           ...    ...  ..  ..   ...   ...
98.149                                      0.105  0.105  10  10  2018  2018
98.459                                      0.126  0.126   5   5  2019  2019
98.497                                       0.18   0.18  12  12  2018  2018
99.100                                      0.105  0.105  11  11  2018  2018
99.357                                      0.079  0.079  12  12  2018  2018

[18612 rows x 38 columns]

#ORDENAÇÃO

In [ ]:
#vamos utilzar a funcao sort_values
df_pre.sort_values(by='ESTADO', ascending= False)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
14674,2006-03-26,2006-04-01,NORTE,TOCANTINS,GASOLINA COMUM,74,R$/l,2.787,0.051,2.63,2.900,0.500,0.018,2.287,0.049,2.2379,2.4900,0.021,3,2006
64649,2014-02-16,2014-02-22,NORTE,TOCANTINS,ÓLEO DIESEL,57,R$/l,2.455,0.058,2.35,2.699,0.302,0.024,2.153,0.075,2.0590,2.3263,0.035,2,2014
90156,2017-05-14,2017-05-20,NORTE,TOCANTINS,ETANOL HIDRATADO,38,R$/l,3.362,0.100,3.09,3.550,0.615,0.030,2.747,0.161,2.5500,2.9858,0.059,5,2017
9302,2011-01-09,2011-01-15,NORTE,TOCANTINS,ETANOL HIDRATADO,59,R$/l,1.919,0.093,1.68,2.100,0.327,0.048,1.592,0.035,1.5619,1.6503,0.022,1,2011
64622,2014-02-16,2014-02-22,NORTE,TOCANTINS,ETANOL HIDRATADO,57,R$/l,2.313,0.090,2.15,2.730,0.448,0.039,1.865,0.057,1.8210,1.9791,0.031,2,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49067,2008-04-20,2008-04-26,NORTE,ACRE,ÓLEO DIESEL,47,R$/l,2.284,0.159,2.17,2.580,0.303,0.070,1.981,0.071,1.8690,2.2054,0.036,4,2008
100577,2018-09-09,2018-09-15,NORTE,ACRE,ÓLEO DIESEL S10,36,R$/l,4.409,0.223,4.05,4.799,0.747,0.051,3.662,0.161,3.4020,3.9201,0.044,9,2018
10835,2012-02-12,2012-02-18,NORTE,ACRE,ETANOL HIDRATADO,32,R$/l,2.498,0.147,2.35,2.930,0.291,0.059,2.207,0.149,1.8722,2.4747,0.068,2,2012
87408,2017-01-08,2017-01-14,NORTE,ACRE,ETANOL HIDRATADO,15,R$/l,3.668,0.196,3.10,4.030,0.235,0.053,3.433,0.113,3.3322,3.5360,0.033,1,2017
93999,2017-11-05,2017-11-11,NORTE,ACRE,GLP,27,R$/13Kg,73.408,3.435,70.00,85.000,10.687,0.047,62.721,5.753,54.4000,80.0000,0.092,11,2017

In [ ]:
#fazendo isto para multiplas colunas temos:
df_pre.sort_values(by=['ESTADO', 'PRODUTO'], ascending= [False, True])

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
19,2004-05-09,2004-05-15,NORTE,TOCANTINS,ETANOL HIDRATADO,71,R$/l,1.226,0.081,1.050,1.43,0.546,0.066,0.680,0.114,0.51022,1.0350,0.168,5,2004
46,2004-05-16,2004-05-22,NORTE,TOCANTINS,ETANOL HIDRATADO,71,R$/l,1.227,0.084,1.050,1.43,0.529,0.068,0.698,0.117,0.52900,0.9832,0.168,5,2004
73,2004-05-23,2004-05-29,NORTE,TOCANTINS,ETANOL HIDRATADO,72,R$/l,1.238,0.090,1.050,1.52,0.564,0.073,0.674,0.102,0.55370,0.9830,0.151,5,2004
100,2004-05-30,2004-06-05,NORTE,TOCANTINS,ETANOL HIDRATADO,73,R$/l,1.268,0.101,1.099,1.58,0.572,0.080,0.696,0.102,0.55400,0.9612,0.147,5,2004
127,2004-06-06,2004-06-12,NORTE,TOCANTINS,ETANOL HIDRATADO,72,R$/l,1.292,0.102,1.099,1.59,0.582,0.079,0.710,0.106,0.56000,0.9802,0.149,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106129,2019-05-26,2019-06-01,NORTE,ACRE,ÓLEO DIESEL S10,36,R$/l,4.512,0.250,4.300,5.01,0.672,0.055,3.840,0.219,3.54790,4.3900,0.057,5,2019
106278,2019-06-02,2019-06-08,NORTE,ACRE,ÓLEO DIESEL S10,36,R$/l,4.515,0.249,4.300,5.01,0.643,0.055,3.872,0.201,3.72190,4.3900,0.052,6,2019
106428,2019-06-09,2019-06-15,NORTE,ACRE,ÓLEO DIESEL S10,35,R$/l,4.517,0.231,4.300,5.01,0.710,0.051,3.807,0.206,3.55800,4.3900,0.054,6,2019
106578,2019-06-16,2019-06-22,NORTE,ACRE,ÓLEO DIESEL S10,37,R$/l,4.490,0.180,4.280,4.87,0.692,0.040,3.798,0.189,3.55800,4.4000,0.05,6,2019
106727,2019-06-23,2019-06-29,NORTE,ACRE,ÓLEO DIESEL S10,37,R$/l,4.489,0.177,4.280,4.87,0.752,0.039,3.737,0.198,3.55800,4.3100,0.053,6,2019